{{ form_start(form, {'attr': {'class': 'form-bordered','id':'save_task'}}) }}
<div class="form-group add-course ">
    <div class="col-md-12 esp-task">
        <input type="text" id="task-title" name="title" class="form-control" placeholder="Ajoutez un nouveau élèment..." required>
    </div>
</div>
<div class="task-form">
    <div class="form-group add-course">
        <div class="col-md-12 esp-task">
            <textarea id="example-textarea-input" name="description" rows="2" class="form-control" placeholder="Description"></textarea>
        </div>
    </div>
    <div class="form-group add-course">
        <div class="col-md-6 esp-task">
            <select id="subselect" name="subject" class="form-control">
                <option id="initial" value="" style="display: none;">Matière(s)</option>
                {% set newArray = [] %}
                {% for inter in inters %}
                    {% if inter.subject.name not in newArray %}
                        <option value="{{ inter.subject.id }}" class="{{ inter.stclass.id }}">{{ inter.subject.name }}</option>
                        {% set newArray = newArray|merge([inter.subject.name]) %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6 esp-task">
            <select  class="form-control" name="classes[]" id="ms" multiple="multiple" data-placeholder="Classe(s)" >

            </select>
        </div>
    </div>
    <div class="form-group form-action task-action">
        <div class="col-md-6 col-md-push-6  text-right">
            <input type="submit" value="Enregistrer" class="btn btn-effect-ripple btn-success">
            <input type="reset" value="Annuler" class="btn btn-effect-ripple btn-default">
        </div>
    </div>
</div>
{{ form_end(form) }}
{% block javascripts %}
    <script>
        $("#subselect").change(function () {
            $('#ms').html(" ");
            var subj = $('#subselect option:selected').val();
            {% for inter in inters %}
            var classsub = "{{ inter.subject.id | raw }}";
            if (classsub == subj) {
                $('#ms').append($('<option>',
                    {
                        value: {{ inter.stclass.id }},
                        text :"{{ inter.stclass.name }}"
                    }));
                $('#ms').multipleSelect('refresh');
            }
            {% endfor %}
        });
    </script>
{% endblock %}