    {{ form_start(form, {'attr': {'class': 'form-bordered','id':'save_task'}}) }}
    <div class="form-group add-task">
        <div class="col-md-12 esp-task">
            <input type="text" id="task-title" name="title" class="form-control" placeholder="Ajoutez une nouvelle tache..." required>
        </div>
    </div>
    <div class="task-form">
        <div class="form-group add-task">
            <div class="col-md-12 esp-task">
                <textarea id="example-textarea-input" name="description" rows="2" class="form-control" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="form-group add-task">
            <div class="col-md-6 esp-task">
                <select name="subject" id="subselect" class="form-control" required>
                    <option id="initial" value="" style="display: none;">Matière(s)</option>
                    {% set newArray = [] %}
                    {% for inter in inters %}
                    {% if inter.subject.name not in newArray %}
                        <option value="{{ inter.subject.id }}" class="{{ inter.stclass.id }}">{{ inter.subject.name }}</option>
                    {% set newArray = newArray|merge([inter.subject.name]) %}
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6 esp-task">
                <select  class="form-control" name="classes[]" id="ms" multiple="multiple" data-placeholder="Classe(s)" >

                </select>
            </div>
        </div>
        <div class="form-group add-task">
            <div class="col-md-6 esp-task">
                <select name="task-type" id="type-task" class="form-control" data-placeholder="Selectionnez classe(s)..." required>
                    <option value="" style="display: none;">Type de tache</option>
                    <option value="activity">Activité</option>
                    <option value="evaluation">Evaluation</option>
                </select>
            </div>
            <div class="col-md-6 task-repetition">
                <label class="radio-inline" for="example-inline-radio1">
                    <input id="once" type="radio" name="rep" value="onlyonce"checked="checked"> Seule fois
                </label>
                <label class="radio-inline" for="example-inline-radio1">
                    <input class="repetition-btn" type="radio"  name="rep" value="weekly"> 1 par semaine
                </label>
                <label class="radio-inline" for="example-inline-radio1">
                    <input class="repetition-btn" type="radio" name="rep" value="monthly"> 1 par mois
                </label>
            </div>
            <div class="col-md-6 eval-date ">
                <input type="text" id="example-datepicker2" name="date" class="form-control input-datepicker" data-date-format="dd/mm/yy" placeholder="Date" >
            </div>
        </div>
        <div class="form-group add-task activity-date">
            <div class="col-md-6 ">
                <input type="text" id="example-datepicker2" name="dateonce" class="form-control input-datepicker" data-date-format="dd/mm/yy" placeholder="Date">
            </div>
        </div>
        <div class="form-group add-task activity-date-limit input-daterange">
            <div class="col-md-6 ">
                <input type="text" id="example-daterange1" name="start" class="form-control" placeholder="Debut">
            </div>
            <div class="col-md-6 ">
                <input type="text" id="example-daterange2" name="end" class="form-control" placeholder="Fin">
            </div>
        </div>
        <div class="form-group form-action task-action">
            <div class="col-md-6 col-md-push-6  text-right">
                <input type="submit" value="Enregistrer" class="btn btn-effect-ripple btn-success">
                <input type="reset" value="Annuler" class="btn btn-effect-ripple btn-default">
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    {% block javascripts %}
        <script>
            $("#subselect").change(function () {
                $('#ms').html(" ");
                var subj = $('#subselect option:selected').val();
        {% for inter in inters %}
            var classsub = "{{ inter.subject.id | raw }}";
            if (classsub == subj) {
                $('#ms').append($('<option>',
                    {
                        value: {{ inter.stclass.id }},
                        text :"{{ inter.stclass.name }}"
                    }));
                $('#ms').multipleSelect('refresh');
            }
        {% endfor %}
            });
        </script>
    {% endblock %}