{% extends 'SLUsersBundle:Users:baseUsers.html.twig' %}
    {% block menu %}
        {{ parent() }}
        <div id="sidebar-scroll">
            {{ render(controller("SLUsersBundle:Teacher:menu")) }}
        </div>
    {% endblock %}
    {% block chat %}
        <!-- Inner Sidebar -->
        <div id="page-content-sidebar">
            <!-- Collapsible People List -->
            <a href="javascript:void(0)" class="btn btn-block btn-effect-ripple btn-primary visible-xs" data-toggle="collapse" data-target="#people-nav">Contact</a>
            <div id="people-nav" class="collapse navbar-collapse remove-padding">
                {{ render(controller("SLUsersBundle:Teacher:chatlist")) }}
            </div>
            <!-- END Collapsible People List -->
        </div>
        <!-- END Inner Sidebar -->

        <!-- Chat Widget -->
        <div class="chat"></div>
        <!-- END Chat Widget -->
    {% endblock %}



