
<div class="block-section">
    <h4 class="inner-sidebar-header text-center">
        <a data-toggle="collapse" href="#parents-block">
            Parents
        </a>
    </h4>
    <div id="parents-block" class="collapse">
    {% set intermediates = [] %}
    {% for inter in inters %}
    {% if inter.stclass.name not in intermediates %}
        <ul id="classe{{ inter.stclass.id }}" class="nav-users classes ">

        </ul>
        {% set intermediates = intermediates|merge([inter.stclass.name]) %}
    {% endif %}
    {% endfor %}
    </div>
</div>

<div class="block-section">
    <ul class="nav-users ">
        <li class="admin">

        </li>
    </ul>
</div>


{% block javascripts %}
<script>
    /********  Chat script ********/

    window.setInterval(function(){
        var table=[];
        $('.block-section .classes').each(function () {
    var idatt = $(this).attr("id");
    var idclasse = /([0-9]+)/.exec(idatt);
    var idc = idclasse[0];

    $.ajax({
        url: Routing.generate('show_contacts', {classeid: idc}),
        type: "GET",
        dataType: 'json',
        success: function (data) {
            var admin = JSON.parse(data.admin);
            var stgp = JSON.parse(data.stgp);
            for (i in admin) {
                var dateactv = JSON.stringify(admin[i].lastActivity.timestamp);
                var datestmp = new Date(dateactv * 1000).toISOString();
                var adminhtml = '<a class="adminpic" id="' + JSON.stringify(admin[i].id) + '"  href="javascript:void(0)">'
                    + ' <img  src="{{ asset('img/placeholders/avatars/avatar2.jpg') }}" alt="image" class="nav-users-avatar img'+JSON.stringify(admin[i].id)+'">'
                    + '<span class="nav-users-heading">Administrateur</span>'
                    + '<span class="text-muted">' + JSON.stringify(admin[i].firstname).replace(/"/g, '') + '&nbsp;'
                    + JSON.stringify(admin[i].name).replace(/"/g, '') + '</span>'
                    + '<span id="lastactv'+JSON.stringify(admin[i].id)+'" class="hide-date">' + datestmp + '</span>'
                    + '</a>';
            }
            $('.admin').html(adminhtml);
            for (i in admin) {
                on_off_users(JSON.stringify(admin[i].id),datestmp);
                showuser_pic(JSON.stringify(admin[i].picture), JSON.stringify(admin[i].id));
                new_notification(JSON.stringify(admin[i].id));
            }
            var usershtml = '';
            for (var j = 0; j < stgp.length; j++) {
                for (var t = 0; t < stgp[j].length; t++) {
                    if(jQuery.inArray(stgp[j][t].godparent.id,table)== -1) {
                        usershtml += '<li id="show" class="">'
                            + ' <a class="gppic' + JSON.stringify(stgp[j][t].godparent.id) + '"  id="' + JSON.stringify(stgp[j][t].godparent.id) + '" href="javascript:void(0)">'
                            + ' <img  src="{{ asset('img/placeholders/avatars/avatar2.jpg') }}" alt="image" class="nav-users-avatar img' + JSON.stringify(stgp[j][t].godparent.id) + '">'
                            + '<span class="nav-users-heading">' + JSON.stringify(stgp[j][t].godparent.firstname).replace(/"/g, '') + '&nbsp;'
                            + JSON.stringify(stgp[j][t].godparent.name).replace(/"/g, '') + '</span>'
                            + '<span id="lastactv' + JSON.stringify(stgp[j][t].godparent.id) + '" class="hide-date">' + datestmpu + '</span>'
                            + '</a></li>';
                            table.push(stgp[j][t].godparent.id);
                    }
                }
            }
            $('#classe' + idc).html(usershtml);
            for (var j = 0; j < stgp.length; j++) {
                for (var t = 0; t < stgp[j].length; t++) {
                    var dateactvu = JSON.stringify(stgp[j][t].godparent.lastActivity.timestamp);
                    var datestmpu = new Date(dateactvu * 1000).toISOString();
                    on_off_users(JSON.stringify(stgp[j][t].godparent.id),datestmpu);
                    showuser_pic(JSON.stringify(stgp[j][t].godparent.picture), JSON.stringify(stgp[j][t].godparent.id));
                    new_notification(JSON.stringify(stgp[j][t].godparent.id));
                }}
            chatbox();
        }
    });
        console.log(table);
});},6000);

    //New message notification
    function new_notification(id){
        $.ajax({
            type: "GET",
            url: Routing.generate('count_unread', {receiverid: id}),
            dataType: 'json',
            success: function (data) {
                var unreads = JSON.parse(data.unreads);
                if(unreads.length>0){
                    $('#'+id+' img').after('<span class="label label-success nav-users-indicator">'+unreads.length+'</span>');
                }
            }
        });
    }

//Online and Offline style
function on_off_users(iduser,datetmp) {
            var useractv = new Date(datetmp);
            var now = new Date();
             var tmp = now - useractv;
            if (tmp != NaN) {
                var resultInMinutes = Math.round(tmp / 60000);
                if (resultInMinutes <= 5) {
                    $('#lastactv'+iduser).parents('li').removeClass();
                    $('#lastactv'+iduser).parents('li').addClass('nav-users-online');
                } else if (resultInMinutes > 5 && resultInMinutes <= 15) {
                    $('#lastactv'+iduser).parents('li').removeClass();
                    $('#lastactv'+iduser).parents('li').addClass('nav-users-away');
                } else {
                    $('#lastactv'+iduser).parents('li').removeClass();
                    $('#lastactv'+iduser).parents('li').addClass('nav-users-offline');
                }
            }

}

//Display users-navbar picture
function showuser_pic(pic,iduser) {
    if(pic !=  'null') {
        var user = pic.replace(/"/g, '');
        var img = $('.img' + iduser).attr('src').replace("avatar2.jpg", "users/" + user);
        $('.img' + iduser).attr('src', img);
    }
}
</script>
    <script src="{{ asset('js/timestamp.js')}}" type="text/javascript"></script>
    <script>
        /********  Chat box script ********/
        var total_popups = 0;
        //Array of popups ids
        var popups = [];
        function chatbox() {

        $( window ).load(function() {
            calculate_popups
        });

        $('.nav-users a').click(function(){
            var id = $(this).attr('id');
            var name = $(this).find('.nav-users-heading').text();
            register_popup(id, name);
        });
        }

        //Remove an array element
        Array.remove = function(array, from, to) {
            var rest = array.slice((to || from) + 1 || array.length);
            array.length = from < 0 ? array.length + from : from;
            return array.push.apply(array, rest);
        };

        //Chat actions
        function chat_actions(id){
            //Remove chat window
            $('.chatui-action-remove').click(function(){
                var id = $(this).parents('.chatui-window').attr('id');
                close_popup(id);
            });

            // Open chat window
            $('.chatui-action-open').on('click', function(){
                $(this)
                    .parents('.chatui')
                    .removeClass('chatui-window-close');

                // Scroll the message list to the bottom
                chatTalk
                    .animate({
                        scrollTop: chatTalk[0].scrollHeight
                    }, 0);

                // Focus chat input
                chatInput.focus();
            });

            // Close Chat window
            $('.chatui-action-close').on('click', function(){
                $(this)
                    .parents('.chatui')
                    .addClass('chatui-window-close');
            });

            // Add a message to the chat
            var chatTalk    = $('.chatui-talklist'+id);
            var chatForm    = $('.chatuimsg-form'+id);
            var chatInput   = $('#chat-message'+id);
            var chatMsg     = '';
            chatForm
                .find('form')
                .submit(function(e){
                    // Get text from chat input
                    chatMsg = chatInput.val();
                    save_msg(id,chatMsg);
                    // If the user typed a message
                    if (chatMsg) {
                        // Add it to the message list
                        chatTalk
                            .find('ul')
                            .append('<li class="chatui-talk-msg chatui-talk-msg-right animation-expandUp">'
                                + '<img src="{{ asset("img/placeholders/avatars/avatar13.jpg") }}" alt="Avatar" class="img-circle chatui-talk-msg-avatar">'
                                + $('<div />').text(chatMsg).html()
                                + '</li>');
                        jspic_replace();

                        // Scroll the message list to the bottom
                        chatTalk
                            .animate({
                                scrollTop: chatTalk[0].scrollHeight
                            }, 200);

                        // Reset the chat input
                        chatInput.val('');
                    }

                    // Don't submit the message form
                    e.preventDefault();
                })



        }

        function jspic_replace() {
            $('.chatui-talk-msg-avatar').each(function () {
                {% if app.user.picture != null %}
                var pic="{{ app.user.picture|raw }}";
                var img = $(this).attr('src').replace("avatar13.jpg", "users/"+pic);
                $(this).attr('src', img);
                {% endif %}
            });
        }
        //Close a popup
        function close_popup(id)
        {
            var idchat = /([0-9]+)/.exec(id);
            for(var i = 0; i < popups.length; i++)
            {
                if(idchat[0] == popups[i])
                {
                    Array.remove(popups, i);
                    $('#'+id).remove();
                    calculate_popups();
                    return;
                }
            }
        }

        //Displays the popups
        function display_popups()
        {
            var right = 240;
            var i = 0;
            for(i; i < total_popups; i++)
            {
                if(popups[i] != undefined)
                {
                    $('#chatbox'+popups[i]).css('right', right+'px','!important');
                    right = right+320;
                    $('#chatbox'+popups[i]).css('display', 'block','!important');


                }
            }

            for(var j = i; j < popups.length; j++)
            {
                $('#chatbox'+popups[i]).css('display', 'none');
            }
        }

        //Creates a new popup
        function register_popup(id, name)
        {

            for(var i = 0; i < popups.length; i++)
            {
                //already registered. Bring it to front.
                if(id == popups[i])
                {
                    Array.remove(popups, i);

                    popups.unshift(id);

                    calculate_popups();

                    return;
                }
            }

            var element = '<div id="chatbox' + id + '" class="widget chatui chatui-window chatui-window-close remove-radius-bottom">'
                + '<div class="widget-content widget-content-mini themed-background">'
                + '<a href="javascript:void(0)" class="chatui-action-remove text-dark-op pull-right"><i class="fa fa-times"></i></a>'
                + '<a href="javascript:void(0)" class="chatui-action-open text-dark-op pull-right"><i class="fa fa-arrow-up"></i></a>'
                + '<a href="javascript:void(0)" class="chatui-action-close text-dark-op pull-right"><i class="fa fa-arrow-down"></i></a>'
                + '<a href="javascript:void(0)" class="text-light"><strong>'+name+'</strong></a>'
                + '</div>'
                + '<div class="widget-content widget-content-mini chatui-talk chatui-talklist'+id+'">'
                + '<ul>'
                + '</ul>'
                + '</div>'
                + '<div class="widget-content widget-content-full chatui-form chatuimsg-form'+id+' remove-radius-bottom">'
                + '<form action="" method="post" class="remove-margin">'
                + '<input type="text" id="chat-message'+id +'" name="chat-message" class="form-control" placeholder="Tapez un message et appuyez sur Entrée...">'
                + '</form>'
                + '</div>'
                + '</div>';

            $('.chat').append(element);
            show_msg(id);
            chat_actions(id);
            popups.unshift(id);
            $('#chatbox'+id).removeClass('chatui-window-close');
            calculate_popups();
        }

        //Calculate the total number of popups
        function calculate_popups()
        {
            var width = $(window).width();
            if(width < 540)
            {
                total_popups = 0;
            }
            else
            {
                width = width - 200;
                //320 is width of a single popup box
                total_popups = parseInt(width/300);
            }
            display_popups();

        }

        //Save messages
        function save_msg(id,chatMsg){
            if(chatMsg != '' && chatMsg != ' ' ) {
                $.ajax({
                    type: "POST",
                    url: Routing.generate('save_message'),
                    dataType: 'json',
                    data: {chatMsg: chatMsg, receiverid: id},
                    success: function (response) {
                        console.log(response);
                    }
                });
            }
        }

        //Display messages
        function show_msg(id){
            window.setInterval(function() {
                $.ajax({
                    type: "GET",
                    url: Routing.generate('show_messages', {receiverid: id}),
                    dataType: 'json',
                    success: function (data) {
                        var msgs = JSON.parse(data.msgs);
                        var html = '';
                        for (d in msgs) {
                            var tstmp = JSON.stringify(msgs[d].date.timestamp);
                            var date = new Date(tstmp * 1000).toISOString();
                            if (id != JSON.stringify(msgs[d].sender.id)) {
                                html += '<li class="text-center"><small><time class="timeago" datetime="' + date + '"></time></small></li>'
                                    + '<li class="chatui-talk-msg chatui-talk-msg-right ">'
                                    + '<img src="{{ asset("img/placeholders/avatars/avatar13.jpg") }}" alt="Avatar" class="img-circle chatui-talk-msg-avatar">' + JSON.stringify(msgs[d].content).replace(/"/g, '');
                                +'</li>';
                            } else {
                                html += '<li class="text-center"><small><time class="timeago" datetime="' + date + '"></time></small></li>'
                                    + '<li class="chatui-talk-msg receiver ">'
                                    + '<img src="{{ asset("img/placeholders/avatars/avatar13.jpg") }}" alt="Avatar" class="img-circle chatui-talk-msg-avatar">' + JSON.stringify(msgs[d].content).replace(/"/g, '');
                                +'</li>';
                            }
                            $('.chatui-talklist' + id + ' ul').html(html);
                            show_pic(JSON.stringify(msgs[d].sender.picture), '.chatui-talklist' + id + ' ul .chatui-talk-msg-right ');
                            show_pic(JSON.stringify(msgs[d].receiver.picture), '.chatui-talklist' + id + ' ul .receiver ');
                            $("time").timeago();
                        }
                    }
                });
            },5000);
        }

        //Display users picture
        function show_pic(pic,liclass){
            if (pic != null) {
                var receiverpic = pic.replace(/"/g, '');
                $(liclass).find('img').each(function () {
                    var img = $(this).attr('src').replace("avatar13.jpg", "users/" + receiverpic);
                    $(this).attr('src', img);
                });
            }
        }

    </script>
{% endblock %}



