{% extends 'SLUsersBundle:Users/Teacher:baseTeacher.html.twig' %}
{% block title %}
    Journal
{% endblock %}
{% block content %}
    {{ parent() }}
    {% block style %}
        <link rel="stylesheet" href="{{ asset('css/multiple-select.css')}}" />
    {% endblock %}
    <div class="col-xs-12">
        <div class="block full ">
            <div class="block-title">
                <h4>Journal</h4>
            </div>
            <div class="tab-content">
                <div class="row add-task-container">
                    <div class="col-md-10 col-md-push-1">
                        {{ render(controller('SLUsersBundle:Course:add')) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-push-1 tab-content courses-class">
                        <ul class="nav nav-tabs nav-justified nav-classes">
                            {% set classes = [] %}
                        {% for inter in inters %}
                            {% if inter.stclass.name not in classes %}
                                <li ><a data-toggle="tab" class="{{ inter.stclass.id }}">{{ inter.stclass.name }}</a></li>
                                {% set classes = classes|merge([inter.stclass.name]) %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="row">

                        <div class="col-md-10 col-md-push-1 tab-content sizcourse ">
                                <div  class="tab-pane active courses-container" >
                                    <div class="row esp-course">
                                        <div class="col-md-1">
                                            <label class="control-label" for="classes-filter">Matière </label>
                                        </div>
                                    <div class="col-md-3">
                                        <select id="coursefilter" name="subject" class="form-control subjects-select">

                                        </select>
                                    </div>
                                    </div>
                                        <div class="row esp-courses">
                                            <div class="col-md-offset-1 col-md-10">
                                             <ul class="task-list">

                                             </ul>
                                            </div>
                                        </div>
                                    <div class="pagination-diary">
                                    <div id="prev"></div>
                                    <div id="pages">

                                    </div>
                                    <div id="next"></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Update course -->
        <div id="" class="modal fade course-update-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-pencil-square-o"></i> <strong>Modifiez élèment</strong></h3>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    <!-- END Update course -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('js/multiple-select.js')}}"></script>
<script>
    $(function() {
        $('#ms').change(function() {
        }).multipleSelect({
            width: '100%'
        });
    });
</script>

    <script type="text/javascript">
        //Loading click simulation
        $(document).ready(function() {
            $('.nav-classes li:first-child').addClass('firstclasse');
            $('.firstclasse a').click();
        });

        //Subjects filter
        $('.nav-classes li a').click(function() {
            var opt='';
            $('.courses-container').attr('id',this.className);
            var thisclass=this.className;
            {% for inter in inters %}
            var cassid="{{ inter.stclass.id | raw }}";
            if( cassid == thisclass ){
                opt+='<option value="{{ inter.subject.id }}">{{ inter.subject.name }}</option>';
            }
            {% endfor %}
            $('.courses-container select').html(opt);


            coursefilterchange(thisclass);

            $('#coursefilter').change(function() {
                coursefilterchange(thisclass);
            });


        });

        //Display courses
        function coursefilterchange(thisclass){
            var crv='';
            var subval=$('#coursefilter option:selected').val();
            {% for course in courses %}
            var subid="{{ course.subject.id | raw }}";
            var classselid="{{ course.class.id | raw }}";
            if(subid == subval && classselid == thisclass  ){
                crv += '<li class=""><label class="checkbox-inline">{% if course.done == true %}<input type="checkbox" value="{{ course.id }}" checked>{% else %}<input type="checkbox" value="{{ course.id }}">{% endif %}{{ course.title }}<p class="course-note"> {{ course.description }}</p></label><a href="#{{ course.id }}" data-toggle="modal" class="task-close text-success update-course"><i class="fa fa-pencil-square-o  green-color"></i></a><a href="{{ path('delete_course', {'courseid': course.id}) }}" class="task-close text-danger " data-confirm="Etes-vous certain de vouloir supprimer cet élément?"><i class="fa fa-times-circle"></i></a></li>'
            }

            {% endfor %}
            $('.task-list').html(crv);
            deleteconfirmation();
            publishedelement();
            updateelement ();
        }

        //Delete confirmation
         function deleteconfirmation() {
             $(function() {
                 $('a[data-confirm]').click(function(ev) {
                     var href = $(this).attr('href');

                     if (!$('#dataConfirmModal').length) {
                         $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header popup-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">Merci de confirmer</h3></div><div class="modal-body"></div><div class="modal-footer popup-footer"><button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Non</button><a class="btn btn-danger" id="dataConfirmOK">Oui</a></div></div></div></div>');
                     }
                     $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
                     $('#dataConfirmOK').attr('href', href);
                     $('#dataConfirmModal').modal({show:true});

                     return false;
                 });
             });
         }

        //Published element
         function publishedelement(){
             $('.task-list li input:checked').closest('li').addClass('published-task');
             $('.task-list li input').change(function() {
                 var idelmt=$(this).val();
                 if ($(this).is(':checked')) {
                     $.ajax({
                         url: Routing.generate('publish_course', {idcourse: idelmt}),
                         type: "GET",
                         dataType: 'json',
                         success: function (response) {
                             console.log('success add');
                         },
                         fail: function () {
                             console.log('fail add');
                         }
                     });
                     $(this).closest('li').addClass('published-task');
                     console.log(idelmt);
                 }
                 else{
                     $.ajax({
                         url: Routing.generate('unpublish_course', {idcourse: idelmt}),
                         type: "GET",
                         dataType: 'json',
                         success: function (response) {
                             console.log('success delete');
                         },
                         fail: function () {
                             console.log('fail delete');
                         }
                     });
                     $(this).closest('li').removeClass('published-task');
                 }
             });
         }

        //Update element
         function updateelement () {
             $('.update-course').click(function(){
                 var href=$(this).attr("href");
                 var idcourse = /([0-9]+)/.exec(href);
                 var idc=idcourse[0];
                 $('.course-update-modal').attr("id",idc);
                 $.ajax({
                     url: Routing.generate('edit_course', { courseid : idc }),
                     type: "GET",
                     dataType: 'json',
                     success: function(response) {
                         template = response;
                         $('.course-update-modal .modal-body').html(template);
                         console.log("yes");
                     },
                     fail: function () {
                         console.log('no');
                     }

                 });
             });
         }
    </script>

    <script src="{{ asset('js/list-pagination.js')}}"></script>
{% endblock %}