{{ form_start(form, {'attr': {'class': 'form-horizontal form-bordered','id':'save_task'}}) }}
<div class="form-group add-task">
    <div class="col-md-12 esp-task">
        <input type="text" value="{{ task.title }}"  name="title" class="form-control" placeholder="Ajoutez une nouvelle tache..." required>
    </div>
</div>
<div class="edit-task-form">
    <div class="form-group add-task">
        <div class="col-md-12 esp-task">
            <textarea id="example-textarea-input"  name="description" rows="2" class="form-control">{{ task.description }}</textarea>
        </div>
    </div>
    <div class="form-group add-task">
        <div class="col-md-6 esp-task">
            <select id="subjselect{{ task.id }}" name="subject"  class="form-control">
                <option id="initial" value="" style="display: none;">Matière(s)</option>
                {% set newArray = [] %}
                {% for inter in inters %}
                    {% if inter.subject.name not in newArray %}
                        {% if task.class.id == inter.stclass.id %}
                        {% if inter.subject.name == task.subject.name %}
                        <option value="{{ inter.subject.id }}" class="{{ inter.stclass.id }}" selected>{{ inter.subject.name }}</option>
                            {% else %}
                                <option value="{{ inter.subject.id }}" class="{{ inter.stclass.id }}" >{{ inter.subject.name }}</option>
                                {% endif %}
                        {% set newArray = newArray|merge([inter.subject.name]) %}
                    {% endif %}
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6 esp-task">
            <input type="text" value="{{ task.class.name }}" class="form-control" disabled/>
        </div>
    </div>
    <div class="form-group add-task">
        <div class="col-md-6 esp-task">
            {% if tasktype=="eval" %}
            <input id="task-type{{ task.id }}" type="text" value="Evaluation" class="form-control" disabled/>
            {% else %}
                <input id="task-type{{ task.id }}" type="text" value="Activité" class="form-control" disabled/>
            {% endif %}
        </div>
        {% if tasktype=="actv" %}
        <div class="col-md-6 ">
            <label class="radio-inline" for="example-inline-radio1">
                <input id="once{{ task.id }}" type="radio" name="rep" value="onlyonce" {% if task.repetition == "onlyonce" %} checked{% endif %}> Seule fois
            </label>
            <label class="radio-inline" for="example-inline-radio1">
                <input class="repetition-btn" type="radio"  name="rep" value="weekly" {% if task.repetition == "weekly" %} checked {% endif %}> 1 par semaine
            </label>
            <label class="radio-inline monthlyedit" for="example-inline-radio1">
                <input class="repetition-btn " type="radio" name="rep" value="monthly" {% if task.repetition == "monthly" %} checked {% endif %}> 1 par mois
            </label>
        </div>
        {% endif %}
        {% if tasktype == "eval" %}
        <div class="col-md-6 evaledit-date ">
            <input type="text" id="example-datepicker2" name="date" class="form-control input-datepicker" value="{{ task.date|date("d/m/Y") }}" data-date-format="dd/mm/yy" placeholder="Date" >
        </div>
        {%  endif %}
    </div>
    {% if tasktype == "actv" %}
    {% if task.repetition == "onlyonce" %}
    <div class="form-group add-task activity-dateedit ">
        <div class="col-md-6 ">
            <input type="text" id="example-datepicker2" name="dateonce" value="{{ task.date|date("d/m/Y") }}" class="form-control input-datepicker" data-date-format="dd/mm/yy" placeholder="Date">
        </div>
    </div>
    {%  endif %}
    {% if task.repetition == "weekly" or task.repetition == "monthly" %}
    <div class="form-group add-task activity-dateedit-limit  input-daterange">
        <div class="col-md-6 ">
            <input type="text" id="example-daterange1" name="start" value="{{ task.date|date("d/m/Y") }}" class="form-control" placeholder="Debut">
        </div>
        <div class="col-md-6 ">
            <input type="text" id="example-daterange2" name="end" value="{{ task.end|date("d/m/Y") }}" class="form-control" placeholder="Fin">
        </div>
    </div>
    {%  endif %}
    {%  endif %}
    <div class="form-group form-action task-action">
        <div class="col-md-6 col-md-push-6  text-right">
            <input type="submit" value="Enregistrer" class="btn btn-effect-ripple btn-success">
            <input type="reset" value="Annuler" class="btn btn-effect-ripple btn-default">
        </div>
    </div>
</div>
{{ form_end(form) }}
    {% block javascripts %}
        <script>
            //Relation between task type and the options related
            $('#once{{ task.id }}').change(function(){
                    $('.activity-dateedit').show();
                    $('.activity-dateedit-limit').hide();
                }
            );
            $('.repetition-btn').change(function(){
                    $('.activity-dateedit').hide();
                    $('.activity-dateedit-limit').show();
                }
            );

        </script>
    {% endblock %}