{{ form_start(form, {'attr': {'class': 'form-horizontal form-bordered','id':'save_task'}}) }}
<div class="form-group add-task">
    <div class="col-md-12 esp-task">
        <input type="text" value="{{ course.title }}"  name="title" class="form-control" placeholder="Ajoutez une nouvelle tache..." required>
    </div>
</div>
<div class="edit-task-form">
    <div class="form-group add-task">
        <div class="col-md-12 esp-task">
            <textarea id="example-textarea-input"  name="description" rows="2" class="form-control" placeholder="Description">{{ course.description }}</textarea>
        </div>
    </div>
    <div class="form-group add-task">
        <div class="col-md-6 esp-task">
            <input type="text" value="{{ course.subject.name }}" class="form-control" disabled/>
        </div>
        <div class="col-md-6 esp-task">
            <input type="text" value="{{ course.class.name }}" class="form-control" disabled/>
        </div>
    </div>
    <div class="form-group form-action task-action">
        <div class="col-md-6 col-md-push-6  text-right">
            <input type="submit" value="Enregistrer" class="btn btn-effect-ripple btn-success">
            <input type="reset" value="Annuler" class="btn btn-effect-ripple btn-default">
        </div>
    </div>
</div>
{{ form_end(form) }}