{% extends 'SLUsersBundle:Users/Teacher:baseTeacher.html.twig' %}
    {% block content %}
        {{ parent() }}
        <div class="col-md-11 col-lg-12">
            <div class="block full ">
                <div class="block-title">
                    <h4>Actualités de l'école</h4>
                </div>
                <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                {{ render(controller('SLUsersBundle:Publication:show',{'user':'teacher'})) }}
                </div>
                </div>
            </div>
        </div>
    {% endblock %}