{% extends 'SLUsersBundle:Users/Teacher:baseTeacher.html.twig' %}
{% block title %}
    Élèves
{% endblock %}
    {% block content %}
        {{ parent() }}
        <div class="col-md-11 col-lg-12">
            <div class="block full ">
                <div class="block-title">
                    <ul class="nav nav-tabs classes-tabs" data-toggle="tabs">
                        {% set classes = [] %}
                        {% for inter in inters %}
                            {% if inter.stclass.id not in classes %}
                            <li><a class="title-btn" data-toggle="tab" href="#{{ inter.stclass.id }}">{{ inter.stclass.name }}</a></li>
                            {% set classes = classes|merge([inter.stclass.id]) %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-content row ">
                    <div id="" class="tab-pane fade class-container">
                        <div class="col-lg-offset-1 col-lg-10">
                            <div id="nestable2" class="tab-content dd dd-inverse colorsub ">
                                <div class="classes-table">
                                    <div class="table-responsive">
                                        <table id="example-datatable" class="table table-striped table-bordered table-vcenter">
                                            <thead>
                                            <tr>

                                                <th style="width: 30%;">Élève</th>
                                                <th style="width: 10%;" class="hidden-xs hidden-md">Naissance</th>
                                                <th style="width: 20%;" class="hidden-xs hidden-md">Adresse</th>
                                                <th style="width: 40%;">Parent</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Show parent -->
        <div id="" class="modal fade show-parent-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content  view-user">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-user"></i> <strong>Parent</strong></h3>
                    </div>
                    <div class="modal-body show-user">
                        <div class="col-lg-offset-2 body-modal-view">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Show parent -->
    {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/pages/uiTablesstudents.js')}}">
    </script>
    <script>$(function () {
            UiTables.init();
        });</script>
    <script>
        //Loading click simulation
        $(document).ready(function() {
            $('.classes-tabs li:first-child').addClass('active');
            $('.class-container').addClass('active');
            $('.class-container').addClass('in');
            $('.classes-tabs .active a').click();
        });


        $('.classes-tabs li a').click(function () {
            var href = $(this).attr("href");
            var idclass = /([0-9]+)/.exec(href);
            var idC = idclass[0];
            $('.class-container').attr('id', idC);

            //Display students
            $.ajax({
                url: Routing.generate('show_students', {classid: idC, sender:"teacher"}),
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    var students=JSON.parse(data.students);
                    var parents=JSON.parse(data.parents);
                    console.log(parents);
                    var html='';
                    for(i in students){
                        var datestmp = JSON.stringify(students[i].birthday.timestamp);
                        var d = new Date(datestmp * 1000);
                        var strDate = ('0'+d.getDate()   ).slice(-2) + "/" + ('0'+ (d.getMonth()+1)   ).slice(-2) + "/" + d.getFullYear();
                        html +='<tr><td>'+JSON.stringify(students[i].firstname).replace(/"/g, '')+'&nbsp;'+ JSON.stringify(students[i].name).replace(/"/g, '')+'</td>' +
                                '<td>'+strDate+'</td>' +
                                '<td>'+JSON.stringify(students[i].address).replace(/"/g, '')+'</td>' +
                                '<td class="gp'+JSON.stringify(students[i].id)+' parentlink"> </td>'+
                               '</tr>';
                    }

                    $('.classes-table tbody').html(html);

                    for( s in students){
                        var gp='';
                        for (var j = 0; j < parents.length; j++) {
                            for (var t = 0; t < parents[j].length; t++) {
                                if (JSON.stringify(parents[j][t].student.id) == JSON.stringify(students[s].id)) {
                                    gp += '<a class="show_parent" href="#parent'+JSON.stringify(parents[j][t].godparent.id)+'" data-toggle="modal">'+JSON.stringify(parents[j][t].godparent.firstname).replace(/"/g, '') + '&nbsp;' + JSON.stringify(parents[j][t].godparent.name).replace(/"/g, '')+ '&nbsp;(' + JSON.stringify(parents[j][t].relationtype).replace(/"/g, '')+')</a>';
                                }
                            }
                            if (parents[j].length==0){
                                gp+="Aucun parent pour cet élève"
                            }
                        }
                        $('.gp'+ JSON.stringify(students[s].id)).html(gp);
                    }
                    show_parent();
                    replace_null();
                    console.log("yes");
                },
                fail: function () {
                    console.log('no');
                }

            });
        });
        
        //Show parent
        function show_parent() {
            $('.show_parent').click(function(){
                var href=$(this).attr("href");
                var idparent = /([0-9]+)/.exec(href);
                var idp=idparent[0];
                $('.show-parent-modal').attr("id","parent"+idp);
                $.ajax({
                    url: Routing.generate('show_parent', { parentid : idp }),
                    type: "GET",
                    dataType: 'json',
                    success: function(response) {
                        var gparent = JSON.parse(response.parent);

                        var html ='<div class="row ">' +
                            '<div class="col-xs-3 col-xs-offset-2">' +
                            '<img class="pic-limitedit" src="{{ asset('img/placeholders/avatars/avatar2.jpg') }}" alt="image">' +
                            '</div></div>' +
                            '<div class="row">' +
                            '<div class="col-xs-3 control-label">Nom </div>' +
                            '<div class="col-xs-9 infos">'+JSON.stringify(gparent.firstname).replace(/"/g, '')+'&nbsp;'+ JSON.stringify(gparent.name).replace(/"/g, '')+'</div></div>'+
                            '<div class="row">' +
                            '<div class="col-xs-3 control-label">Profession </div>' +
                            '<div class="col-xs-9 infos">'+JSON.stringify(gparent.occupation).replace(/"/g, '')+'</div></div>'+
                            '<div class="row">' +
                            '<div class="col-xs-3 control-label">Tél </div>' +
                            '<div class="col-xs-9 infos">'+JSON.stringify(gparent.phone).replace(/"/g, '')+'</div></div>' +
                            '<div class="row">' +
                            '<div class="col-xs-3 control-label">Adresse</div>' +
                            '<div class="col-xs-9 infos">'+JSON.stringify(gparent.address).replace(/"/g, '')+'</div></div>';

                        $('.show-parent-modal .body-modal-view').html(html);
                        showparent_pic(JSON.stringify(gparent.picture));
                        replace_nullparent();
                        console.log("yes");
                    },
                    fail: function () {
                        console.log('no');
                    }

                });
            });
        }

        //Display picture
        function showparent_pic(pic) {
            if(pic !=  'null') {
                var user = pic.replace(/"/g, '');
                var img = $('.body-modal-view img').attr('src').replace("avatar2.jpg", "users/" + user);
                $('.body-modal-view img').attr('src', img);
            }
        }

        //Replace null
        function replace_null() {
            $('table td').each(function () {
                if ($(this).text() == "null") {
                    $(this).text("Information non fournie");
                }
            });
        }

        //Replace null for parent information
        function replace_nullparent() {
            $('.body-modal-view .infos').each(function () {
                if ($(this).text() == "null") {
                    $(this).text("Information non fournie");
                }
            });
        }
    </script>
{% endblock %}