{% extends 'SLUsersBundle:Users/Teacher:baseTeacher.html.twig' %}
{% block title %}
    Cahier de texte
{% endblock %}

    {% block content %}
        {{ parent() }}
        {% block style %}
            <style>
                body{
                    min-width: 577px;
                }
            </style>
            <link rel="stylesheet" href="{{ asset('css/bootstrap.vertical-tabs.css')}}">
            <link rel="stylesheet" href="{{ asset('css/multiple-select.css')}}" />
        {% endblock %}

        <div class="col-xs-12">
            <div class="block full ">
                <div class="block-title">
                    <h4>Cahier de texte</h4>
                </div>
                <div class="tab-content">
                    <div class="row add-task-container">
                        <div class="col-md-11">
                            {{ render(controller('SLUsersBundle:Task:addtask')) }}
                        </div>
                    </div>
                    <div class="row navhoriz-mini">
                        <div class="col-sm-12  col-xs-12">
                            <ul class="nav nav-tabs sideways horizontal-days nav-justified">
                                <li ><a class="Monday" href="#Monday" data-toggle="tab">Lun</a></li>
                                <li><a class="Tuesday" href="#Tuesday" data-toggle="tab">Mar</a></li>
                                <li><a class="Wednesday" href="#Wednesday" data-toggle="tab">Mer</a></li>
                                <li><a class="Thursday" href="#Thursday" data-toggle="tab">Jeu</a></li>
                                <li><a class="Friday" href="#Friday" data-toggle="tab">Ven</a></li>
                                <li><a class="Saturday" href="#Saturday" data-toggle="tab">Sam</a></li>
                                <li class="active " ><a class="All" href="#All" data-toggle="tab">Tout</a></li>
                            </ul>
                        </div>
                    </div>
                            <div class="row">
                                <div class="col-md-11 col-sm-12 col-xs-12 tab-content textbook-content">
                                    <img class="spiral" src="{{ asset('img/Schoollinkpic/spiral.png')}}" alt="spiral">
                                    <div class="tab-content tab-pane active ">
                                    <div id="Monday" class="tab-pane active  sizeesp" >
                                            <div class="sheet">
                                                <div class="form-group filter-classes">
                                                    <label class="control-label col-md-1  " for="classes-filter">Classe </label>
                                                    <div class="col-md-3 ">
                                                    <select  class="form-control "  id="classes-filter">
                                                        {% set classes = [] %}
                                                        {% for inter in inters %}
                                                            {% if inter.stclass.id not in classes %}
                                                                <option value="{{ inter.stclass.id }}" >{{ inter.stclass.name }}</option>
                                                                {% set classes = classes|merge([inter.stclass.id]) %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    </div>
                                                </div>
                                                <!-- Table Content -->
                                                <div class="table-responsive">
                                                    <table id="general-table" class="table  table-vcenter list-tasks ">
                                                        <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th class="hidden-sm hidden-xs hidden-md">Matière</th>
                                                            <th style="width: 50%;">Tâche</th>
                                                            <th style="width: 10%;" class="text-center"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>


                                                        </tbody>
                                                    </table>

                                                        <div id="prev"></div>
                                                        <div id="pages">

                                                        </div>
                                                        <div id="next"></div>

                                                </div>
                                                <!-- END Table Content -->
                                            </div>
                                        </div>
                                   </div>
                                </div>
                                <div class="col-md-1 navvert">
                                    <ul class="nav nav-tabs tabs-right sideways">
                                        <li><a class="Monday" href="#Monday" data-toggle="tab">Lundi</a></li>
                                        <li><a class="Tuesday" href="#Tuesday" data-toggle="tab">Mardi</a></li>
                                        <li><a class="Wednesday" href="#Wednesday" data-toggle="tab">Mercredi</a></li>
                                        <li><a class="Thursday" href="#Thursday" data-toggle="tab">Jeudi</a></li>
                                        <li><a class="Friday" href="#Friday" data-toggle="tab">Vendredi</a></li>
                                        <li><a class="Saturday" href="#Saturday" data-toggle="tab">Samedi</a></li>
                                        <li class="active "><a class="All" href="#All" data-toggle="tab">Tout</a></li>
                                    </ul>
                                </div>
                            </div>
                </div>
            </div>
        </div>

        <!-- Update activity -->
        {% for activity in activities %}
            <div id="modal-edit-actv{{  activity.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title"><i class="fa fa-pencil-square-o"></i> <strong>Modifiez activité</strong></h3>
                        </div>
                        <div class="modal-body">
                            {{ render(controller('SLUsersBundle:Task:edit',{'taskid':activity.id, 'tasktype':"actv" })) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- END Update activity -->

        <!-- Update evaluation -->
        {% for evaluation in evaluations %}
            <div id="modal-edit-eval{{  evaluation.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title"><i class="fa fa-pencil-square-o"></i> <strong>Modifiez évaluation</strong></h3>
                        </div>
                        <div class="modal-body">
                            {{ render(controller('SLUsersBundle:Task:edit',{'taskid':evaluation.id, 'tasktype':"eval" })) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- END Update evaluation -->
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Multiple selection plugin-->
    <script src="{{ asset('js/multiple-select.js')}}"></script>
    <script>
        $(function() {
            $('#ms').change(function() {
            }).multipleSelect({
                width: '100%'
            });
        });
    </script>
    <!-- END Multiple selection plugin-->

    <!-- Table plugin-->
    <script src="{{ asset('js/pages/uiTables.js')}}"></script>
    <script>$(function () {
            UiTables.init();
        });
    </script>
    <!-- END Table plugin-->

    <!-- Textbook management-->
    <script>
        //Months'table
        var monthNames = ["Janv", "Févr", "Mars", "Avr", "Mai", "Juin",
            "Juill", "Aout", "Sept", "Oct", "Nov", "Déc"
        ];
        //Loading click simulation
        $(document).ready(function() {
            $('.sideways .active a').click();
        });

        //Classes'filter
        var classesfilter = $('#classes-filter option:selected').val();
        $('#classes-filter').change(function () {
             classesfilter = $('#classes-filter option:selected').val();
            $('.sideways .active a').click();
        });

        //Tasks'display
        $('.sideways li a').click(function() {
            var container = '';
            var indiv = '';

            //Today date
            var d = new Date();
            var strDate = ('0'+d.getDate()   ).slice(-2) + "/" + ('0'+ (d.getMonth()+1)   ).slice(-2) + "/" + d.getFullYear();

            //Dispaly activities
            {% for activity in activities %}
            var datetask = "{{ activity.date|date("l") | raw }}";
            var actvclasse = "{{ activity.class.id | raw }}";

            var date1="{{ activity.date|date("d/m/Y") | raw }}";
            var date2="{{ activity.end|date("d/m/Y") | raw }}";
            var dt1= new Date(date1.replace( /(\d{2})\/(\d{2})\/(\d{4})/, "$2/$1/$3"));
            var dt2= new Date(date2.replace( /(\d{2})\/(\d{2})\/(\d{4})/, "$2/$1/$3"));
            var today=new Date(strDate.replace( /(\d{2})\/(\d{2})\/(\d{4})/, "$2/$1/$3"));

            if (this.className == datetask && classesfilter == actvclasse) {
                {% if activity.repetition == "weekly" %}
                    var dateincr = dt1;
                    while (today > dateincr && dateincr < dt2) {
                        dateincr = new Date(dateincr.setDate(dateincr.getDate() + 7));
                    }
                    var incr = ('0'+dateincr.getDate()   ).slice(-2) + "/" + ('0'+ (dateincr.getMonth()+1)   ).slice(-2) + "/" + dateincr.getFullYear();
                    var day = ('0'+dateincr.getDate()   ).slice(-2);
                    var month = monthNames[dateincr.getMonth()];
                    indiv += '<tr><td class="hide-date">'+incr+'</td><td class="date" valign="top" ><strong>'+day+' '+month+'</strong></td><td class="no-color hidden-sm hidden-xs hidden-md">{{ activity.subject.name }}</td><td class="content-left no-color">{% if activity.description != null %}<a data-toggle="collapse" href="#{{ activity.id }}"><i class="fa fa-info-circle"></i></a>{% endif %}{{ activity.title }}<p id="{{ activity.id }}" class="collapse">{{ activity.description }}</p></td><td><a href="#modal-edit-actv{{ activity.id }}" data-toggle="modal" class=" icon-pub update-actv "><i class="fa fa-pencil-square-o green-color "></i></a><a  href="{{ path('delete_task', {'taskid': activity.id,'tasktype':"actv"}) }}" class=" icon-pub confirmModalLink" data-confirm ="Etes-vous certain de vouloir supprimer cette activité?" ><i class="fa fa-times-circle publicator-cl "></i></a> </td></tr>';
                {% elseif activity.repetition == "monthly" %}
                var dateincrmth = dt1;
                while (today > dateincrmth && dateincrmth < dt2) {
                    dateincr = new Date(dateincr.setDate(dateincr.getDate() + 30));
                }
                var incrmth = ('0'+dateincrmth.getDate()   ).slice(-2) + "/" + ('0'+ (dateincrmth.getMonth()+1)   ).slice(-2) + "/" + dateincrmth.getFullYear();
                var daymth = ('0'+dateincrmth.getDate()   ).slice(-2);
                var monthmth = monthNames[dateincrmth.getMonth()];
                indiv += '<tr><td class="hide-date">'+incrmth+'</td><td class="date" valign="top" ><strong>'+daymth+' '+monthmth+'</strong></td><td class="no-color hidden-sm hidden-xs hidden-md">{{ activity.subject.name }}</td><td class="content-left no-color">{% if activity.description != null %}<a data-toggle="collapse" href="#{{ activity.id }}"><i class="fa fa-info-circle"></i></a>{% endif %}{{ activity.title }}<p id="{{ activity.id }}" class="collapse">{{ activity.description }}</p></td><td><a href="#modal-edit-actv{{ activity.id }}" data-toggle="modal" class=" icon-pub  update-actv"><i class="fa fa-pencil-square-o green-color "></i></a><a  href="{{ path('delete_task', {'taskid': activity.id,'tasktype':"actv"}) }}" class=" icon-pub confirmModalLink" data-confirm ="Etes-vous certain de vouloir supprimer cette activité?" ><i class="fa fa-times-circle publicator-cl "></i></a> </td></tr>';
                {% else %}
                    indiv += '<tr><td class="hide-date">{{ activity.date|date("d/m/Y")}}</td><td class="date text-capitalize" valign="top" ><strong>{{ activity.date|localizeddate('none', 'none', app.request.locale, "Europe/Paris", " d MMM ") }}</strong></td><td class="no-color hidden-sm hidden-xs hidden-md">{{ activity.subject.name }}</td><td class="content-left no-color">{% if activity.description != null %}<a data-toggle="collapse" href="#{{ activity.id }}"><i class="fa fa-info-circle"></i></a>{% endif %}{{ activity.title }}<p id="{{ activity.id }}" class="collapse">{{ activity.description }}</p></td><td><a href="#modal-edit-actv{{ activity.id }}" data-toggle="modal" class=" icon-pub update-actv "><i class="fa fa-pencil-square-o green-color "></i></a><a  href="{{ path('delete_task', {'taskid': activity.id,'tasktype':"actv"}) }}" class=" icon-pub confirmModalLink" data-confirm ="Etes-vous certain de vouloir supprimer cette activité?" ><i class="fa fa-times-circle publicator-cl "></i></a> </td></tr>';
                {% endif %}
            }
            if (classesfilter == actvclasse) {
                {% if activity.repetition == "weekly" %}
                var dateincrall = dt1;
                while (today > dateincrall && dateincrall < dt2) {
                    dateincrall = new Date(dateincrall.setDate(dateincrall.getDate() + 7));
                }
                var incrall = ('0'+dateincrall.getDate()   ).slice(-2) + "/" + ('0'+ (dateincrall.getMonth()+1)   ).slice(-2) + "/" + dateincrall.getFullYear();
                var dayall = ('0'+dateincrall.getDate()   ).slice(-2);
                var monthall = monthNames[dateincrall.getMonth()];
                container += '<tr><td class="hide-date">'+incrall+'</td><td class="date" valign="top" ><strong>'+dayall+' '+monthall+'</strong></td><td class="no-color hidden-sm hidden-xs hidden-md">{{ activity.subject.name }}</td><td class="content-left no-color">{% if activity.description != null %}<a data-toggle="collapse" href="#{{ activity.id }}"><i class="fa fa-info-circle"></i></a>{% endif %}{{ activity.title }}<p id="{{ activity.id }}" class="collapse">{{ activity.description }}</p></td><td><a href="#modal-edit-actv{{ activity.id }}" data-toggle="modal" class=" icon-pub update-actv "><i class="fa fa-pencil-square-o green-color "></i></a><a  href="{{ path('delete_task', {'taskid': activity.id,'tasktype':"actv"}) }}" class=" icon-pub confirmModalLink" data-confirm ="Etes-vous certain de vouloir supprimer cette activité?" ><i class="fa fa-times-circle publicator-cl "></i></a> </td></tr>';
                {% elseif activity.repetition == "monthly" %}
                var dateincrallmth = dt1;
                while (today > dateincrallmth && dateincrallmth < dt2) {
                    dateincrallmth = new Date(dateincrallmth.setDate(dateincrallmth.getDate() + 30));
                }
                var incrallmth = ('0'+dateincrallmth.getDate()   ).slice(-2) + "/" + ('0'+ (dateincrallmth.getMonth()+1)   ).slice(-2) + "/" + dateincrallmth.getFullYear();
                var dayallmth = ('0'+dateincrallmth.getDate()   ).slice(-2);
                var monthallmth = monthNames[dateincrallmth.getMonth()];
                container += '<tr><td class="hide-date">'+incrallmth+'</td><td class="date" valign="top" ><strong>'+dayallmth+' '+monthallmth+'</strong></td><td class="no-color hidden-sm hidden-xs hidden-md">{{ activity.subject.name }}</td><td class="content-left no-color">{% if activity.description != null %}<a data-toggle="collapse" href="#{{ activity.id }}"><i class="fa fa-info-circle"></i></a>{% endif %}{{ activity.title }}<p id="{{ activity.id }}" class="collapse">{{ activity.description }}</p></td><td><a href="#modal-edit-actv{{ activity.id }}" data-toggle="modal" class=" icon-pub update-actv"><i class="fa fa-pencil-square-o green-color "></i></a><a  href="{{ path('delete_task', {'taskid': activity.id,'tasktype':"actv"}) }}" class=" icon-pub confirmModalLink" data-confirm ="Etes-vous certain de vouloir supprimer cette activité?" ><i class="fa fa-times-circle publicator-cl "></i></a> </td></tr>';

                {% else %}
                    container += '<tr><td class="hide-date">{{ activity.date|date("d/m/Y")}}</td><td class="date text-capitalize" valign="top" ><strong>{{ activity.date|localizeddate('none', 'none', app.request.locale, "Europe/Paris", " d MMM ") }}</strong></td><td class="no-color hidden-sm hidden-xs hidden-md">{{ activity.subject.name }}</td><td class="content-left no-color">{% if activity.description != null %}<a data-toggle="collapse" href="#{{ activity.id }}"><i class="fa fa-info-circle"></i></a>{% endif %}{{ activity.title }}<p id="{{ activity.id }}" class="collapse">{{ activity.description }}</p></td><td><a href="#modal-edit-actv{{ activity.id }}" data-toggle="modal" class=" icon-pub update-actv "><i class="fa fa-pencil-square-o green-color "></i></a><a  href="{{ path('delete_task', {'taskid': activity.id,'tasktype':"actv"}) }}" class=" icon-pub confirmModalLink" data-confirm ="Etes-vous certain de vouloir supprimer cette activité?" ><i class="fa fa-times-circle publicator-cl "></i></a> </td></tr>';
                {% endif %}
            }

            {% endfor %}

            //Display evaluations
            {% for evaluation in evaluations %}
            var dateeval="{{ evaluation.date|date("l") | raw }}";
            var evalclasse="{{ evaluation.class.id | raw }}";

            if( this.className == dateeval && classesfilter== evalclasse){
                indiv +='<tr><td class="hide-date">{{ evaluation.date|date("d/m/Y")}}</td><td class="date text-capitalize" valign="top" ><strong>{{ evaluation.date|localizeddate('none', 'none', app.request.locale, "Europe/Paris", " d MMM ") }}</strong></td><td class="no-color hidden-sm hidden-xs hidden-md" >{{ evaluation.subject.name }}</td><td class="content-left no-color">{% if evaluation.description != null  %}<a data-toggle="collapse" href="#{{ evaluation.id }}"><i class="fa fa-info-circle"></i></a>{% endif %}{{ evaluation.title }}<p id="{{ evaluation.id }}" class="collapse">{{ evaluation.description }}</p></td><td><a href="#modal-edit-eval{{  evaluation.id }}" data-toggle="modal" class=" icon-pub "><i class="fa fa-pencil-square-o green-color "></i></a><a  href="{{ path('delete_task', {'taskid': evaluation.id,'tasktype':"eval"}) }}" class=" icon-pub confirmModalLink" data-confirm ="Etes-vous certain de vouloir supprimer cette évaluation?" ><i class="fa fa-times-circle publicator-cl "></i></a> </td></tr>';
            }
            if (classesfilter== evalclasse) {
            container += '<tr><td class="hide-date">{{ evaluation.date|date("d/m/Y")}}</td><td class="date text-capitalize" valign="top" ><strong>{{ evaluation.date|localizeddate('none', 'none', app.request.locale, "Europe/Paris", " d MMM ") }}</strong></td><td class="no-color hidden-sm hidden-xs hidden-md " >{{ evaluation.subject.name }}</td><td class="content-left no-color">{% if evaluation.description != null %}<a data-toggle="collapse" href="#{{ evaluation.id }}"><i class="fa fa-info-circle"></i></a>{% endif %}{{ evaluation.title }}<p id="{{ evaluation.id }}" class="collapse">{{ evaluation.description }}</p></td><td><a href="#modal-edit-eval{{ evaluation.id }}" data-toggle="modal" class=" icon-pub "><i class="fa fa-pencil-square-o green-color "></i></a><a  href="{{ path('delete_task', {'taskid': evaluation.id,'tasktype':"eval"}) }}" class=" icon-pub confirmModalLink" data-confirm ="Etes-vous certain de vouloir supprimer cette évaluation?" ><i class="fa fa-times-circle publicator-cl "></i></a> </td></tr>';
            }
            {% endfor %}

            $('#'+this.className+' tbody').html(indiv);
            $('#All tbody tr');
            $('#All tbody').html(container);

            //Barred tasks
            $('#general-table tbody > tr').each(function() {
                var taskhidedate= $(this).find(".hide-date").html();
                var dateStrA = taskhidedate.replace( /(\d{2})\/(\d{2})\/(\d{4})/, "$2/$1/$3");
                var dateStrB = strDate.replace( /(\d{2})\/(\d{2})\/(\d{4})/, "$2/$1/$3");
                if (new Date(dateStrA) <= new Date(dateStrB)){
                    $(this).addClass("barred-text");
                }
            });

            $('.date').each(function () {
                var newdate=$(this).text().replace(/\./g, ' ');
                $(this).text(newdate);
            });

            //Delete confirmation
            $(function() {
                $('a[data-confirm]').click(function(ev) {
                    var href = $(this).attr('href');

                    if (!$('#dataConfirmModal').length) {
                        $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header popup-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">Merci de confirmer</h3></div><div class="modal-body"></div><div class="modal-footer popup-footer"><button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Non</button><a class="btn btn-danger" id="dataConfirmOK">Oui</a></div></div></div></div>');
                    }
                    $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
                    $('#dataConfirmOK').attr('href', href);
                    $('#dataConfirmModal').modal({show:true});

                    return false;
                });
            });
            //Update task
            $('.update-actv').click(function(){
                var acvtid =$(this).attr('href');
                var intRegex = /[0-9 -()+]+$/;
                var actvidint= intRegex.test(acvtid);
                console.log(acvtid);
                console.log(actvidint);
            });

        });

    </script>
    <!-- END Textbook management-->

    <!--  Textbook Responsive-->
    <script>
        $(window).resize(function() {
            if ($(window).width() <= 767) {
                $('.navhoriz-mini ul').removeClass('nav-justified');
            } else {
                $('.navhoriz-mini ul').addClass('nav-justified');
            }
        });
    </script>
    <!-- END Textbook Responsive-->
    <script src="{{ asset('js/table-pagination.js')}}"></script>

{% endblock %}