
{{ form_start(form, {'attr': {'class': 'form-horizontal form-bordered'}}) }}
<div class="form-group">
    <label class="col-xs-3 control-label text-center" for="add-contact-name">Nom</label>
    <div class="col-xs-9">
        {{ form_row(form.leveltitle, {'attr': {'class': 'form-control','placeholder':'Entrez le nom de niveau...'}}) }}
    </div>
</div>
<div class="form-group form-actions">
    <div class="col-xs-12 text-right">
        <button type="submit" class="btn btn-effect-ripple btn-success">Enregistrer</button>
    </div>
</div>
{{ form_end(form) }}
