{{ form_start(form) }}
    <label class="file-label" for="files"><i class="fa fa-fw fa-picture-o"></i> </label>
    {{ form_row(form.contents) }}
<div class="publication">
    <output id="list"></output>
    <textarea id="publtexte" name="publication" required="required" class="form-control" placeholder="Écrivez quelque chose..." row="2"></textarea>
</div>

<button type="submit" class="btn btn-effect-ripple btn-sm btn-primary submit-act">Publier</button>
{{ form_end(form) }}

{% block javascripts %}
    <script>
        var mediaarray =[];
        var k=0;
        // Check for the various File API support.
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            function handleFileSelect(evt) {
                var files = evt.target.files; // FileList object
                // Loop through the FileList and render image files as thumbnails.
                for (var i = 0, f; f = files[i]; i++) {

                    // Only process image files.
                    if (!f.type.match('image.*')) {
                        continue;
                    }

                    var reader = new FileReader();

                    // Closure to capture the file information.
                    reader.onload = (function(theFile) {
                        return function(e) {
                            // Render thumbnail.
                            var span = document.createElement('span');
                            span.innerHTML = ['<img class="thumb" src="', e.target.result,
                                '" title="',  encodeURI(theFile.name), '"/>'].join('');
                            document.getElementById('list').insertBefore(span, null);
                        };
                    })(f);

                    // Read in the image file as a data URL.
                    reader.readAsDataURL(f);
                }
            }

            document.getElementById('publication_form_contents').addEventListener('change', handleFileSelect, false);
        } else {
            alert('The File APIs are not fully supported in this browser.');
        }
        console.log($('#publication_form_contents').val());

    </script>
{% endblock %}