            {{ form_start(form, {'attr': {'class': 'form-horizontal form-bordered'}}) }}
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="add-contact-name">Matière</label>
                    <div class="col-xs-9">
                        {{ form_row(form.name, {'attr': {'class': 'form-control','placeholder':'Entrez le nom de la matière...'}}) }}
                    </div>
                    <label class="col-xs-3 control-label" for="add-contact-name">Coefficient</label>
                    <div class="col-xs-9">
                        {{ form_row(form.coef, {'attr': {'class': 'form-control','placeholder':'Coefficient de la matière...'}}) }}
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-effect-ripple btn-success">Enregistrer</button>
                    </div>
                </div>
            {{ form_end(form) }}
