{% extends 'SLUsersBundle:Users/Admin:baseAdmin.html.twig' %}
{% block title %}
   {% if type=="teachers" %}
       Enseignants
       {% elseif type=="parents" %}
           Parents
           {% else %}
               Elèves
               {% endif %}
{% endblock %}
 {% block content %}
     {{ parent() }}

     <div class="col-md-11 col-lg-12">
     <div class="block full ">
     <div class="block-title">
         {% if type=="teachers" %}
             <h4>Liste des enseignants</h4>
         {% elseif type=="parents" %}
             <h4>Liste des parents</h4>
         {% else %}
             <h4>Liste des élèves</h4>
         {% endif %}
     </div>
         <div class=" row ">
             {% for member in members %}
                 <div class="col-sm-6 col-md-4 col-lg-3">
                     <a href="{{ path('homepage', {'_switch_user': member.login}) }}" class="widget usersall">
                         <div class="widget-content text-right clearfix allusers">
                             {%   if( member.picture==null) %}
                                 <img  src="{{ asset("img/placeholders/avatars/avatar9.jpg")}}" alt="Avatar" class="img-circle img-thumbnail img-thumbnail-avatar pull-left">
                             {% else %}
                                 <img  src="{{ asset('img/placeholders/avatars/users/' ~ member.picture) }}" alt="Avatar" class="img-circle img-thumbnail img-thumbnail-avatar pull-left">
                             {% endif %}
                             <h5 class="widget-heading"><strong>{{ member.firstname }} {{ member.name }}</strong></h5>
                         </div>
                     </a>
                 </div>
             {% endfor %}
         </div>
     </div>
     </div>

 {% endblock %}