{% extends 'SLUsersBundle:Users:baseUsers.html.twig' %}
    {% block menu %}
        {{ parent() }}
        <div id="sidebar-scroll">
            {{ render(controller("SLUsersBundle:Admin:menu")) }}
        </div>
    {% endblock %}
{% block chat %}
    <!-- Inner Sidebar -->
    <div id="page-content-sidebar">
        <!-- Collapsible People List -->
        <a href="javascript:void(0)" class="btn btn-block btn-effect-ripple btn-primary visible-xs" data-toggle="collapse" data-target="#people-nav">Contact</a>
        <div id="people-nav" class="collapse navbar-collapse remove-padding">
            {{ include("SLUsersBundle:Users/Admin:chatlist.html.twig") }}
        </div>
        <!-- END Collapsible People List -->
    </div>
    <!-- END Inner Sidebar -->

    <!-- Chat Godparent Widget -->
    <div class="chat">

    </div>
    <!-- END Chat Godparent Widget -->
{% endblock %}