{% extends 'SLUsersBundle:Users/Admin:baseAdmin.html.twig' %}
{% block title %}
    Classes
{% endblock %}
    {% block content %}
        {{ parent() }}
        <div class="col-md-11 col-lg-12">
            <div class="block full ">
                <div class="block-title">
                    <div class="block-options pull-right">
                        <div class="btn-group">
                            <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Options"><i class="fa fa-chevron-down"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right ">
                                <li>
                                    <a href="#Add-level" data-toggle="modal">
                                        <i class="fa fa-plus pull-right"></i>
                                        Ajoutet niveau
                                    </a>
                                </li>
                                <li>
                                    <a href="#Update-levels"  data-toggle="modal">
                                        <i class="fa fa-pencil pull-right"></i>
                                        Modifier niveaux
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="nav nav-tabs level-tabs " data-toggle="tabs">
                        {% for level in levels %}
                            <li><a  class="title-btn" data-toggle="tab" href="#{{ level.id }}">{{ level.leveltitle }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-content row ">
                        <div id="" class="tab-pane fade class-container">
                            <div class="col-lg-offset-3 col-lg-6">
                                <div id="nestable2" class="tab-content dd dd-inverse colorsub ">
                                    <a data-toggle="modal" href="#modal-add-class" class="btn btn-success add-student"><i class="fa fa-plus"></i> Nouveau classe</a>
                                    <div class="classes-table">

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <!-- Add level -->
        <div id="Add-level" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-plus"></i> <strong>Nouveau niveau</strong></h3>
                    </div>
                    <div class="modal-body">
                        {{ render(controller('SLUsersBundle:Level:add')) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- END Add level -->

        <!-- Add class -->
            <div id="modal-add-class" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title"><i class="fa fa-plus"></i> <strong>Nouveau classe</strong></h3>
                        </div>
                        <div class="modal-body">

                        </div>
                    </div>
                </div>
            </div>
        <!-- END Add class -->

        <!-- Add levels -->
        <div id="Update-levels" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-pencil-square-o"></i> <strong>Modifiez les niveaux</strong></h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">

                            <table id="example-datatable" class="table table-striped table-bordered table-vcenter">
                                <thead>
                                <tr>
                                    <th style="width: 30%;">Niveaux</th>
                                    <th class="text-center" style="width:10%;"><i class="fa fa-flash"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for level in levels %}
                                    <tr class="levelline">
                                        <td class="texttitle" id="{{ level.id}}">{{ level.leveltitle }}</td>
                                        <td class="levelform"><form><input class='form-control leveltitle' value='' /></form></td>
                                        <td class="text-center">
                                            <a id="" href="javascript:void(0)" class="btn btn-effect-ripple btn-xs btn-success update-level" data-toggle="modal"><i class="fa fa-pencil"></i></a>
                                            <a  href="{{ path('delete_level', {'levelid': level.id}) }}" class="btn btn-effect-ripple btn-xs btn-danger "  ><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Add levels -->
    {% endblock %}
 {% block javascripts %}
     <script>
         //Update levels
         $('.levelform').hide();
         $('.update-level').click(function () {
             $(this).parents('.levelline').find('.levelform').show();
             var txt=$(this).parents('.levelline').find('.texttitle').text();
             var levelid =$(this).parents('.levelline').find('.texttitle').attr('id');
             $(this).parents('.levelline').find('.texttitle').hide();
             $(this).parents('.levelline').find('.levelform input').val(txt);
             $('.leveltitle').keydown(function (e) {
                 if (e.keyCode == 13) {
                     e.preventDefault();
                     var val =$(this).parents('.levelline').find('.levelform input').val();
                     //Update level
                     $.ajax({
                         url: Routing.generate('edit_level', { levelid : levelid , leveltitle:val}),
                         type: "GET",
                         dataType: 'json',
                         success: function(data) {
                             console.log('success');
                         },
                         fail: function () {
                             console.log('fail');
                         }
                     });
                     $(this).parents('.levelline').find('.texttitle').show();
                     $(this).parents('.levelline').find('.texttitle').text($(this).parents('.levelline').find('.levelform input').val());
                     $(this).parents('.levelline').find('.levelform').hide();
                     location.reload();


                 }
             });
         });

         //Loading click simulation
         $(document).ready(function() {
             $('.level-tabs li:first-child').addClass('active');
             $('.class-container').addClass('active');
             $('.class-container').addClass('in');
             $('.level-tabs .active a').click();
         });

         $('.level-tabs li a').click(function () {
             var href = $(this).attr("href");
             var idlevel = /([0-9]+)/.exec(href);
             var idL = idlevel[0];
             $('.class-container').attr('id',idL);

             //Display classes
             $.ajax({
                 url: Routing.generate('show_class', { levelid : idL }),
                 type: "GET",
                 dataType: 'json',
                 success: function(response) {
                     template = response;
                     $('.classes-table').html(template);
                     console.log("yes");
                 },
                 fail: function () {
                     console.log('no');
                 }

             });

             //Add class form
             $.ajax({
                 url: Routing.generate('add_class', { levelid : idL }),
                 type: "GET",
                 dataType: 'json',
                 success: function(resp) {
                     formcl = resp;
                     $('#modal-add-class .modal-body').html(formcl);
                     console.log("yes class");
                 },
                 fail: function () {
                     console.log('no');
                 }

             });
         });
     </script>
 {% endblock %}
