{% extends 'SLUsersBundle:Users/Admin:baseAdmin.html.twig' %}
{% block title %}
    Classses
{% endblock %}
    {% block content %}
        {{ parent() }}
        <div class="col-md-11 col-lg-12">
            <div class="block full ">
                <div class="block-title">
                    <div class="block-options pull-right">
                        <div class="btn-group">
                            <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Tgenuteurs"><i class="fa fa-chevron-down"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="#New-Godparent" data-toggle="modal">
                                        <i class="fa fa-plus pull-right"></i>
                                        Nouveau parent
                                    </a>
                                </li>
                                <li>
                                    <a href="#Add-Godparent" data-toggle="modal">
                                        <i class="fa fa-archive pull-right"></i>
                                        Parents enregistrés
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="arrow-back" href="{{ path('view_class',{'classid':student.stclass.id}) }}"><i class="fa fa-arrow-left sie"></i></a>
                        <h4>Profil</h4>
                </div>
                <div class="row tab-content">
                    <div id="profil" class="tab-pane fade active in">
                        <div  class="col-lg-offset-1 col-lg-10 page-form">
                            {{ include("SLUsersBundle:Users/Student:editStudent.html.twig") }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- New Godparent-->
        <div id="New-Godparent" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-plus"></i> <strong>Nouveau parent</strong></h3>
                    </div>
                    <div class="modal-body">
                        {{ render(controller('SLUsersBundle:Godparent:add',{'studentid':student.id})) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- END New Godparent -->
        <!-- Add Godparent-->
        <div id="Add-Godparent" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-archive"></i> <strong>List des parents</strong></h3>
                    </div>
                    <div class="modal-body">
                        {{ render(controller('SLUsersBundle:Godparent:show',{'studentid':student.id})) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- END Add Godparent -->
    {% endblock %}
 {% block javascripts %}
     <script src="{{ asset('js/delete-confirm.js')}}"></script>
 {% endblock %}

