{{ form_start(form, {'attr': {'class': 'form-horizontal form-bordered','id':'form-validationadmin'}}) }}
<div class="form-group">
    <label class="col-xs-3 control-label" for="add-contact-name">
        {% if(admin.picture==null) %}
            <img class="pic-limitedit" src="{{ asset('img/placeholders/avatars/avatar2.jpg') }}" alt="image">
        {% else %}
            <img class="pic-limitedit" src="{{ asset('img/placeholders/avatars/users/' ~ admin.picture) }}" alt="avatar">
        {% endif %}
    </label>
    <div class="col-xs-9 linkalign">
        <i class="fa fa-fw fa-picture-o"></i> {{ form_row(form.picture) }}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-3 control-label" for="add-contact-name">Login</label>
    <div class="col-xs-9">
        {{ form_row(form.login, {'attr': {'class': 'form-control'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-name">Mot de passe</label>
    <div class="col-xs-9">
        {{ form_row(form.plainPassword.first, {'required':false,'label': false,'attr': {'class': 'form-control','placeholder':'Modifiez le mot de passe'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-name">Confirmez mot de passe</label>
    <div class="col-xs-9">
        {{ form_row(form.plainPassword.second, {'required':false,'label': false,'attr': {'class': 'form-control','placeholder':'Confirmez le nouveau mot de passe'}}) }}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-3 control-label" for="add-contact-name">Prénom</label>
    <div class="col-xs-9">
        {{ form_row(form.firstname, {'attr': {'class': 'form-control'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-name">Nom</label>
    <div class="col-xs-9">
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-name">CIN</label>
    <div class="col-xs-9">
        {{ form_row(form.cinadmin, {'attr': {'class': 'form-control'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-name">Sexe</label>
    <div class="col-xs-9">
        {{ form_row(form.sex, {'attr': {'class': 'form-control border-sex-form'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-phone">Téléphone</label>
    <div class="col-xs-9">
        {{ form_row(form.phone, {'required':false,'attr': {'class': 'form-control'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-address">Adresse</label>
    <div class="col-xs-9">
        {{ form_row(form.address, {'required':false,'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group form-actions">
    <div class="col-xs-12 text-right">
        <button type="submit" class="btn btn-effect-ripple btn-success">Enregistrer</button>
        <button type="reset" class="btn btn-effect-ripple btn-default">Annuler</button>
    </div>
</div>
{{ form_end(form) }}
{% block javascripts %}
    <script src="{{ asset('js/pages/formsValidationupadmin.js')}}"></script>
    <script>$(function(){  FormsValidationadmin.init(); });</script>
{% endblock %}