<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title"><i class="fa fa-pencil-square-o"></i> <strong>Profil école</strong></h3>
        </div>

        <div class="modal-body">
                {{ form_start(form, {'attr': {'class': 'form-horizontal form-bordered','id':'edit-school'}}) }}
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="add-contact-name">
                        {% if(school.schoollogo==null) %}
                            <img class="pic-limitedit" src="{{ asset('img/placeholders/avatars/school-default.png') }}" alt="image">
                        {% else %}
                            <img class="pic-limitedit" src="{{ asset('img/placeholders/avatars/' ~ school.schoollogo) }}" alt="image">
                        {% endif %}
                    </label>
                    <div class="col-xs-9 linkalign">
                        <i class="fa fa-fw fa-picture-o"></i> {{ form_row(form.schoollogo) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="add-contact-name">Nom</label>
                    <div class="col-xs-9">
                        {{ form_row(form.schoolname, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <label class="col-xs-3 control-label" for="add-contact-name">Année scolaire</label>
                    <div class="col-xs-9">
                        {{ form_row(form.year, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <label class="col-xs-3 control-label" for="add-contact-name">Directeur</label>
                    <div class="col-xs-9">
                        {{ form_row(form.schooldirector, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <label class="col-xs-3 control-label" for="add-contact-phone">Téléphone</label>
                    <div class="col-xs-9">
                        {{ form_row(form.schoolphone, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <label class="col-xs-3 control-label" for="add-contact-email">Email</label>
                    <div class="col-xs-9">
                        {{ form_row(form.schoolemail, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <label class="col-xs-3 control-label" for="add-contact-address">Adresse</label>
                    <div class="col-xs-9">
                        {{ form_row(form.schooladdress, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-effect-ripple btn-success">Enregistrer</button>
                        <button type="reset" class="btn btn-effect-ripple btn-default">Annuler</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>