{% extends 'SLUsersBundle:Users/Admin:baseAdmin.html.twig' %}
{% block title %}
    Enseignants
{% endblock %}
    {% block content %}
        {{ parent() }}
        <div class="col-md-11 col-lg-12">
            <div class="block full ">
                <div class="block-title">
                    <a class="arrow-back" href="{{ path('adminteach') }}"><i class="fa fa-arrow-left sie"></i></a>
                    <ul class="nav nav-tabs" >
                        <li class="active"><a class="title-btn" data-toggle="tab" href="#profil">Profil</a></li>
                        <li ><a class="title-btn" data-toggle="tab" href="#classes">Classes</a></li>
                    </ul>
                </div>
                <div class="row tab-content">
                    <div id="profil" class="tab-pane fade active in">
                        <div  class="col-lg-offset-1 col-lg-10 page-form">
                           {{ include("SLUsersBundle:Users/Teacher:editTeacher.html.twig") }}
                        </div>
                    </div>
                    <div id="classes" class="tab-pane fade">
                        <div  class="col-lg-offset-2 col-lg-8">
                            {{ render(controller("SLUsersBundle:Intermediate:assignment",{'teacherid':teacher.id} )) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

