{% extends 'SLUsersBundle:Users/Admin:baseAdmin.html.twig' %}
{% block title %}
    Parents
{% endblock %}
    {% block content %}
        {{ parent() }}
        <div class="col-md-11 col-lg-12">
            <div class="block full ">
                <div class="block-title">
                    <a class="arrow-back" href="{{ path('adminparents') }}"><i class="fa fa-arrow-left sie"></i></a>
                    <ul class="nav nav-tabs" >
                        <li class="active"><h4>Profil</h4></li>
                    </ul>
                </div>
                <div class="row">
                    <div id="profil" class="tab-pane fade active in">
                        <div  class="col-lg-offset-1 col-lg-10 page-form">
                            {{ include("SLUsersBundle:Users/Godparent:editparent.html.twig") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

