{% extends 'SLUsersBundle:Users/Admin:baseAdmin.html.twig' %}
    {% block content %}
        {{ parent() }}
        <div class="col-md-11 col-lg-12">
            <div class="block full ">
                <div class="block-title">
                   <h4>Actualités</h4>
                </div>
                 <div class="row">
                     <div class="col-lg-offset-2 col-lg-8">
                {{ render(controller('SLUsersBundle:Publication:show',{'user':'admin'})) }}
                     </div>
                 </div>
            </div>
        </div>
    {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/delete-confirm.js')}}"></script>
{% endblock %}