{% if students != null %}
<div class="table-responsive">
    <table id="example-datatable" class="table table-striped table-bordered table-vcenter">
        <thead>
        <tr>
            <th style="width: 5%;" class="text-center"><input type="checkbox"><span></span></th>
            <th style="width: 30%;">Elève</th>
            <th style="width: 15%;" class="hidden-xs hidden-md">Naissance</th>
            <th style="width: 35%;">Parent</th>
            <th class="text-center" style="width:15%;"><i class="fa fa-flash"></i></th>
        </tr>
        </thead>
        <tbody>
{% for student in students %}
<tr class="{{ student.id }}">
    <td class="text-center"><input id="{{ student.id }}" type="checkbox"><span></span></td>
    <td>{{ student.firstname }} {{ student.name }}</td>
    <td class="hidden-xs hidden-md">{{ student.birthday|date('Y-m-d') }}</td>
    <td class="parentlink">
    {% for parent in parents %}
        {% for p in parent %}
        {% if p.student.id==student.id %}
    <a class="show_parent" href="#parent{{ p.godparent.id }}" data-toggle="modal">{{ p.godparent.firstname }} {{ p.godparent.name }} ({{ p.relationtype }})</a>
    {% endif %}
        {% endfor %}
    {% endfor %}
    </td>
    <td class="text-center">
        <a href="{{ path('edit_student', {'studentid': student.id,'page':'admin'}) }}" class="btn btn-effect-ripple btn-xs btn-success" data-toggle="modal"><i class="fa fa-pencil"></i></a>
        <a  href="{{ path('delete_student', {'studentid': student.id}) }}" class="btn btn-effect-ripple btn-xs btn-danger confirmModalLink " data-confirm="Etes-vous certain de vouloir supprimer cet élève?" ><i class="fa fa-times"></i></a>
    </td>
</tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <div class="text-center information-block"> Vous n'avez pas ajouté des élèves pour cette classe. </div>
{% endif %}

<!-- Show parent -->
<div id="" class="modal fade show-parent-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content  view-user">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"><i class="fa fa-user"></i> <strong>Parent</strong></h3>
            </div>
            <div class="modal-body show-user">
                <div class="col-lg-offset-2 body-modal-view">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Show parent -->

{% block javascripts %}

        <script src="{{ asset('js/pages/formsValidation.js')}}"></script>
        <script>$(function(){  FormsValidation.init(); });</script>

    <script>
        {% if students == null %}
        $('.delete-students').hide();
        $('.pass-students').hide();
        {% endif %}
//Show parent infos
        $('.show_parent').click(function(){
            var href=$(this).attr("href");
            var idparent = /([0-9]+)/.exec(href);
            var idp=idparent[0];
            $('.show-parent-modal').attr("id","parent"+idp);
            $.ajax({
                url: Routing.generate('show_parent', { parentid : idp }),
                type: "GET",
                dataType: 'json',
                success: function(response) {
                    var gparent = JSON.parse(response.parent);

                    var html ='<div class="row ">' +
                        '<div class="col-xs-3 col-xs-offset-2">' +
                        '<img class="pic-limitedit" src="{{ asset('img/placeholders/avatars/avatar2.jpg') }}" alt="image">' +
                        '</div></div>' +
                        '<div class="row">' +
                        '<div class="col-xs-3 control-label">Nom </div>' +
                        '<div class="col-xs-9 infos">'+JSON.stringify(gparent.firstname).replace(/"/g, '')+'&nbsp;'+ JSON.stringify(gparent.name).replace(/"/g, '')+'</div></div>'+
                        '<div class="row">' +
                        '<div class="col-xs-3 control-label">Profession </div>' +
                        '<div class="col-xs-9 infos">'+JSON.stringify(gparent.occupation).replace(/"/g, '')+'</div></div>'+
                        '<div class="row">' +
                        '<div class="col-xs-3 control-label">Tél </div>' +
                        '<div class="col-xs-9 infos">'+JSON.stringify(gparent.phone).replace(/"/g, '')+'</div></div>' +
                        '<div class="row">' +
                        '<div class="col-xs-3 control-label">Adresse</div>' +
                        '<div class="col-xs-9 infos">'+JSON.stringify(gparent.address).replace(/"/g, '')+'</div></div>';

                    $('.show-parent-modal .body-modal-view').html(html);
                    showparent_pic(JSON.stringify(gparent.picture));
                    replace_nullparent();
                    console.log("yes");
                },
                fail: function () {
                    console.log('no');
                }

            });
        });

        //Display picture
        function showparent_pic(pic) {
            if(pic !=  'null') {
                var user = pic.replace(/"/g, '');
                var img = $('.body-modal-view img').attr('src').replace("avatar2.jpg", "users/" + user);
                $('.body-modal-view img').attr('src', img);
            }
        }

        //Replace null for parent information
        function replace_nullparent() {
            $('.body-modal-view .infos').each(function () {
                if ($(this).text() == "null") {
                    $(this).text("Information non fournie");
                }
            });
        }
    </script>
{% endblock %}




