{% if parents != null %}
    <div class="table-responsive">
        <table id="parents-datatable" class="table table-striped table-bordered table-vcenter ">
            <thead>
            <tr >
                <th style="width: 5%;" class="text-center"><input type="checkbox"><span></span></th>
                <th style="width: 30%;" >Parent</th>
                <th style="width: 30%;" >N° de téléphone</th>
                <th class="text-center" style="width:15%;"><i class="fa fa-flash"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for parent in parents %}
                <tr class="{{ parent.id }}">
                    <td class="text-center"><input id="{{ parent.id }}" type="checkbox"><span></span></td>
                    <td>{{ parent.firstname }} {{ parent.name }}</td>
                    <td>{% if parent.phone != null  %}{{ parent.phone }}{% else %} Pas de n° de téléphone{% endif %}</td>
                    <td class="text-center">
                        <a href="#parent{{ parent.id }}" data-toggle="modal" class="btn btn-effect-ripple btn-xs btn-info show_parent"> <i class="fa fa-search"></i></a>
                        <a href="{{ path('edit_parent', {'parentid': parent.id,'page':'admin'}) }}" class="btn btn-effect-ripple btn-xs btn-success" data-toggle="modal"><i class="fa fa-pencil"></i></a>
                        <a  href="{{ path('delete_parent', {'parentid': parent.id}) }}" class="btn btn-effect-ripple btn-xs btn-danger confirmModalLink " data-confirm="Etes-vous certain de vouloir supprimer ce parent ?" ><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="text-center information-block"> Vous n'avez pas ajouté des parents. </div>
{% endif %}

<!-- Show parent -->
<div id="" class="modal fade show-parent-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content view-user">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"><i class="fa fa-user"></i> <strong>Parent</strong></h3>
            </div>
            <div class="modal-body show-user">
                <div class="col-lg-offset-2 body-modal-view">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Show parent -->

{% block javascripts %}
    <script>
        {% if parents == null %}
        $('.delete-parents').hide();
        {% endif %}

//Show parent
        $('.show_parent').click(function(){
            var href=$(this).attr("href");
            var idparent = /([0-9]+)/.exec(href);
            var idp=idparent[0];
            $('.show-parent-modal').attr("id","parent"+idp);
            console.log(idp);
            $.ajax({
                url: Routing.generate('show_parent', { parentid : idp }),
                type: "GET",
                dataType: 'json',
                success: function(response) {
                    var gparent = JSON.parse(response.parent);
                    console.log(JSON.stringify(gparent.id));

                        var html ='<div class="row ">' +
                                  '<div class="col-xs-3 col-xs-offset-2">' +
                                  '<img class="pic-limitedit" src="{{ asset('img/placeholders/avatars/avatar2.jpg') }}" alt="image">' +
                                  '</div></div>' +
                                  '<div class="row">' +
                                  '<div class="col-xs-3 control-label">Nom </div>' +
                                  '<div class="col-xs-9 infos">'+JSON.stringify(gparent.firstname).replace(/"/g, '')+'&nbsp;'+ JSON.stringify(gparent.name).replace(/"/g, '')+'</div></div>'+
                                  '<div class="row">' +
                                  '<div class="col-xs-3 control-label">CIN </div>' +
                                  '<div class="col-xs-9 infos">'+JSON.stringify(gparent.cingodparent).replace(/"/g, '')+'</div></div>' +
                                  '<div class="row">' +
                                  '<div class="col-xs-3 control-label">Profession </div>' +
                                  '<div class="col-xs-9 infos">'+JSON.stringify(gparent.occupation).replace(/"/g, '')+'</div></div>'+
                                  '<div class="row">' +
                                  '<div class="col-xs-3 control-label">Tél </div>' +
                                  '<div class="col-xs-9 infos">'+JSON.stringify(gparent.phone).replace(/"/g, '')+'</div></div>' +
                                  '<div class="row">' +
                                  '<div class="col-xs-3 control-label">Adresse</div>' +
                                  '<div class="col-xs-9 infos">'+JSON.stringify(gparent.address).replace(/"/g, '')+'</div></div>';

                    $('.show-parent-modal .body-modal-view').html(html);
                    showparent_pic(JSON.stringify(gparent.picture));
                    replace_null();
                    console.log("yes");
                },
                fail: function () {
                    console.log('no');
                }

            });
        });

        //Display picture
        function showparent_pic(pic) {
            if(pic !=  'null') {
                var user = pic.replace(/"/g, '');
                var img = $('.body-modal-view img').attr('src').replace("avatar2.jpg", "users/" + user);
                $('.body-modal-view img').attr('src', img);
            }
        }

        //Replace null
        function replace_null() {
            $('.body-modal-view .infos').each(function () {
                console.log($(this).text());
                if ($(this).text() == "null") {
                    $(this).text("Information non fournie");
                    $(this).addClass('info-style');
                }
            });
        }
    </script>
{% endblock %}