{% if teachers != null %}
<div class="table-responsive">
    <table id="example-datatable" class="table table-striped table-bordered table-vcenter ">
        <thead>
        <tr >
            <th style="width: 5%;" class="text-center"><input type="checkbox"><span></span></th>
            <th style="width: 35%;" >Enseignant</th>
            <th style="width: 35%;" >N° de téléphone</th>
            <th class="text-center" style="width:25%;"><i class="fa fa-flash"></i></th>
        </tr>
        </thead>
        <tbody>
{% for teacher in teachers %}
    <tr class="{{ teacher.id }}">
        <td class="text-center"><input id="{{ teacher.id }}" type="checkbox"><span></span></td>
        <td>{{ teacher.firstname }} {{ teacher.name }}</td>
        <td>{% if teacher.phone != null  %}{{ teacher.phone }}{% else %} Pas de n° de téléphone{% endif %}</td>
        <td class="text-center">
            <a href="#parent{{ teacher.id }}" data-toggle="modal" class="btn btn-effect-ripple btn-xs btn-info show_teacher"> <i class="fa fa-search"></i></a>
            <a href="{{ path('edit_teacher', {'teacherid': teacher.id,'page':'admin'}) }}" class="btn btn-effect-ripple btn-xs btn-success" data-toggle="modal"><i class="fa fa-pencil"></i></a>
            <a  href="{{ path('delete_teacher', {'teacherid': teacher.id}) }}" class="btn btn-effect-ripple btn-xs btn-danger confirmModalLink " data-confirm="Etes-vous certain de vouloir supprimer cet enseignant ?" ><i class="fa fa-times"></i></a>
        </td>
    </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <div class="text-center information-block"> Vous n'avez pas ajouté des enseignants. </div>
{% endif %}

<!-- Show teacher -->
<div id="" class="modal fade show-teacher-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content  view-user">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"><i class="fa fa-user"></i> <strong>Enseignant</strong></h3>
            </div>
            <div class="modal-body show-user">
                <div class="col-lg-offset-2 body-modal-view">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Show teacher -->

{% block javascripts %}
    <script>
        {% if teachers == null %}
        $('.delete-teachers').hide();
        {% endif %}

        //Show teacher
        $('.show_teacher').click(function(){
            var href=$(this).attr("href");
            var idteacher = /([0-9]+)/.exec(href);
            var idt=idteacher[0];
            $('.show-teacher-modal').attr("id","parent"+idt);
            $.ajax({
                url: Routing.generate('show_teacher', { teacherid : idt }),
                type: "GET",
                dataType: 'json',
                success: function(response) {
                    var teacher = JSON.parse(response.teacher);

                    var html ='<div class="row ">' +
                        '<div class="col-xs-3 col-xs-offset-2">' +
                        '<img class="pic-limitedit" src="{{ asset('img/placeholders/avatars/avatar2.jpg') }}" alt="image">' +
                        '</div></div>' +
                        '<div class="row">' +
                        '<div class="col-xs-3 control-label">Nom </div>' +
                        '<div class="col-xs-9 infos">'+JSON.stringify(teacher.firstname).replace(/"/g, '')+'&nbsp;'+ JSON.stringify(teacher.name).replace(/"/g, '')+'</div></div>'+
                        '<div class="row">' +
                        '<div class="col-xs-3 control-label">CIN </div>' +
                        '<div class="col-xs-9 infos">'+JSON.stringify(teacher.cinteacher).replace(/"/g, '')+'</div></div>' +
                        '<div class="row">' +
                        '<div class="col-xs-3 control-label">Tél </div>' +
                        '<div class="col-xs-9 infos">'+JSON.stringify(teacher.phone).replace(/"/g, '')+'</div></div>' +
                        '<div class="row">' +
                        '<div class="col-xs-3 control-label">Adresse</div>' +
                        '<div class="col-xs-9 infos">'+JSON.stringify(teacher.address).replace(/"/g, '')+'</div></div>';

                    $('.show-teacher-modal .body-modal-view').html(html);
                    showparent_pic(JSON.stringify(teacher.picture));
                    replace_null();
                    console.log("yes");
                },
                fail: function () {
                    console.log('no');
                }

            });
        });

        //Display picture
        function showparent_pic(pic) {
            if(pic !=  'null') {
                var user = pic.replace(/"/g, '');
                var img = $('.body-modal-view img').attr('src').replace("avatar2.jpg", "users/" + user);
                $('.body-modal-view img').attr('src', img);
            }
        }

        //Replace null
        function replace_null() {
            $('.body-modal-view .infos').each(function () {
                if ($(this).text() == "null") {
                    $(this).text("Information non fournie");
                }
            });
        }
    </script>
{% endblock %}


