{% if subjects!=null %}
<table class="table table-striped table-bordered table-vcenter">
    <thead>
    <tr>
        <th>Matière</th>
        <th style="width:20%;" class="text-center">Coefficient</th>
        <th style="width:20%;" class="text-center"><i class="fa fa-flash"></i></th>
    </tr>
    </thead>
    <tbody>
{% for subject in subjects %}
    <tr>
        <td>{{ subject.name }}</td>
        <td class="text-center">{{ subject.coef }}</td>
        <td class="text-center">
            <a href="#modal-edit-sub{{ subject.id }}" data-toggle="modal" title="Editer matière" class="btn btn-effect-ripple btn-xs btn-success "><i class="fa fa-pencil"></i></a>
            <a href="{{ path('delete_subject', {'subjectid': subject.id}) }})"  title="Delete User" class="btn btn-effect-ripple btn-xs btn-danger confirmModalLink" data-confirm="Etes-vous certain de vouloir supprimer cette matière ?"><i class="fa fa-times"></i></a>
        </td>
    </tr>
{% endfor %}
    </tbody>
    </table>
    {% for subject in subjects %}
    <div id="modal-edit-sub{{  subject.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-pencil-square-o"></i> <strong>Editez matière</strong></h3>
                </div>
                <div class="modal-body">
        {{ render(controller('SLUsersBundle:Subject:edit',{'subjectid':subject.id })) }}
                </div>
    </div>
        </div>
    </div>
{% endfor %}

{% else %}
    <div class="text-center information-block"> Vous n'avez pas défini des matières pour ce niveau. </div>
{% endif %}
