<div class="level-list">
<ul class="task-list">
    {% for level in levels %}
    <li>
        <a href="{{ path('delete_level', {'lev': level.id}) }}" class="task-close text-danger"><i class="fa fa-times"></i></a>
        <div id="{{ level.id }}" class="checkbox-inline elt">
            {{ level.leveltitle }}
        </div>
    </li>
    {% endfor %}
</ul>
</div>