{% extends 'SLUsersBundle:Users/Admin:baseAdmin.html.twig' %}
{% block title %}
    Parents
{% endblock %}
    {% block content %}
        {{ parent() }}
        <div class="col-md-11 col-lg-12">
            <div class="block full ">
                <div class="block-title">
                    <h4>Liste des parents</h4>
                </div>
                <div class="row">

                    <a href="#" class="btn btn-danger delete-parents pull-right" title="Supprimez parents"><i class="fa fa-trash"></i></a>

                <div class="col-md-12">
                {{ render(controller("SLUsersBundle:Godparent:list")) }}
                </div>
                </div>
            </div>
        </div>

    {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/pages/uiTablesparents.js')}}">
    </script>
    <script>

        $(function () {
            UiTables.init();
        });</script>

    <script>
        //Delete multiple parents
        var i=0;
        var parents= [];
        $('table input:checkbox').change(function() {
            if ($(this).is(':checked')) {
                parents[i] = $(this).attr('id');
                i++;
                console.log($(this).attr('id'));
            }else {
                for(var t=0;t<parents.length;t++) {
                    parents[t]=0;
                }
            }
        });
        $('.delete-parents').click(function () {
            for(var j=0;j<parents.length;j++) {
                $.ajax({
                    url: Routing.generate('delete_parent', {parentid: parents[j]}),
                    type: "GET",
                    success: function () {
                        console.log("success");
                    }
                });
                $('.'+parents[j]).hide();
            }
        });

    </script>

    <script src="{{ asset('js/delete-confirm.js')}}"></script>
{% endblock %}
