<div class="modal-container-checked">
<form action="" method="post">
<div class="modal-body">
<div class="table-responsive">
    <table id="example-datatable" class="table table-striped table-bordered table-vcenter">
        <thead>
        <tr>
            <th>Niveaux</th>
            <th>Classes</th>
        </tr>
        </thead>
        <tbody>
        {% for level in levels %}
            <tr>
                <td>{{ level.leveltitle }}</td>
                <td class="pclasses">
                    {% for cl in classes %}
                        {% if (cl.level.id == level.id)and (class.id != cl.id)  %}
                            <p class="pass-container"><input name="classe" class="pass-class" type="radio" value="{{ cl.id }}"/>{{ cl.name }}</p>
                        {% elseif cl== null%}
                            <p class="pass-container">Aucun classe pour ce niveau</p>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    <div class="text-right modal-footer form-actions">
        <button type="submit" class="btn btn-effect-ripple btn-success save-pass">Enregistrer</button>
        <button type="reset" class="btn btn-effect-ripple btn-default">Annuler</button>
    </div>
</form>
</div>
<div class="modal-container-empty">
    <div class="modal-body">Vous n'avez aucun élève sélèctionné.</div>
    <div class="text-right modal-footer form-actions">
        <button type="button" class=" btn btn-effect-ripple btn-success" data-dismiss="modal">Ok</button>
    </div>
</div>

{% block javascripts %}
    <script>
        $('.pclasses').each(function () {
            console.log($(this).text().length);
            if($(this).text().length==213){;
                $(this).parents('tr').hide();
            }
        });


        //Change class student
        var i=0;
        var students= [];
        var classid;
        $('table input:checkbox').change(function() {
            if ($(this).is(':checked')) {
                students[i] = $(this).attr('id');
                i++;
            }else {
                for(var t=0;t<students.length;t++) {
                    students[t]=0;
                }
            }
        });
        $('.pass-class').change(function () {
            if ($(this).is(':checked')) {
                classid=$(this).val();
            }
        });
        $('.save-pass').click(function (e) {
            e.preventDefault();
            for(var j=0;j<students.length;j++) {
                $.ajax({
                    url: Routing.generate('pass_student', {studentid: students[j], classid:classid}),
                    type: "GET",
                    success: function () {
                        $('.'+students[j]).hide();
                        console.log("success");
                    }
                });
            }
            location.reload();
        });

        $('.pass-students').click(function () {
            var clic=false;
            $('table input:checkbox').each(function () {
                if ($(this).is(':checked')) {
                    clic=true;
                }
            });

            if (clic==false){
                $('.modal-container-checked').hide();
                $('.modal-container-empty').show();
            }else{
                $('.modal-container-checked').show();
                $('.modal-container-empty').hide();
            }
        });
    </script>
{% endblock %}