{% if app.user.roles[0] == 'ROLE_ADMIN' %}
<div class="widget-content themed-background-muted">
    {{ render(controller('SLUsersBundle:Publication:add',{'user':'admin'})) }}
</div>
{% elseif app.user.roles[0] == 'ROLE_TEACHER' %}
<div class="widget-content themed-background-muted">
    {{ render(controller('SLUsersBundle:Publication:add',{'user':'teacher'})) }}
</div>
{% endif %}
{% for pub in publications %}
<div class="widget-content themed-background-muted actuality">
    {% if app.user.id == pub.creator.id %}
    <a  href="{{ path('delete_publication', {'pub': pub.id}) }}" class=" icon-pub pull-right confirmModalLink" data-confirm="Etes-vous certain de vouloir supprimer cette publication?" ><i class="fa fa-times-circle publicator-cl "></i></a>
    <a href="#" class=" icon-pub pull-right update-pub"><i class="fa fa-pencil-square-o green-color "></i></a>
    {% endif %}
    {%   if( pub.creator.picture==null) %}
            <img  src="{{ asset("img/placeholders/avatars/avatar2.jpg")}}" alt="Avatar" class="img-circle publ-pic">
        {% else %}
            <img  src="{{ asset('img/placeholders/avatars/users/' ~ pub.creator.picture) }}" alt="Avatar" class="img-circle publ-pic">
        {% endif %}
            <div class="media-body">
                <strong class="blue-color">{{ pub.creator.firstname }}  {{ pub.creator.name  }} </strong>
                <div class="text-muted"><small><em>{{ pub.datepub|date('Y-m-d H:i')}}</em></small></div>
                <div class="pubtext"><p>{{ pub.contents }}</p></div>
                <div class="pubupdate">
                    <textarea id="publtexte" name="publication" required="required" class="form-control" placeholder="Écrivez quelque chose..." row="2">{{ pub.contents }}</textarea>
                    <button id="{{ pub.id }}" type="submit" class="btn btn-effect-ripple btn-sm btn-primary submit-act">Publier</button>
                </div>
                <div class="gallery-image-container animation-fadeInQuickInv">
                {% for media in medias %}
                     {% if media.publication.id == pub.id %}
                         {% for img in media.contents %}
                                <a href="{{ asset('img/placeholders/publications/'~ img) }}" data-toggle="lightbox-image">
                                   <img class="thumb" alt="{{ media.alt }}" src="{{ asset('img/placeholders/publications/'~ img) }}" alt="{{ media.alt }}">
                                </a>
                             {% endfor %}
                     {% endif %}
                {% endfor %}
                </div>
            </div>
</div>
{% endfor %}

{% block javascripts %}
<script>
    $('.pubupdate').hide();
    $('.update-pub').click(function () {
        $(this).parents('.actuality').find('.pubupdate').show();
        $(this).parents('.actuality').find('.pubtext').hide();
        $(this).hide();
        $(this).prev().hide();
        $(this).parents('.actuality').find('.pubupdate .submit-act').click(function () {
            var pubid=$(this).attr('id');
            var content= $(this).prev().val();
            console.log(pubid);
            console.log(content);

            $.ajax({
                url: Routing.generate('edit_publication', {pubid: pubid, content: content}),
                type: "GET",
                dataType: 'json',
                success: function (response) {
                    console.log('success add');
                },
                fail: function () {
                    console.log('fail add');
                }
            });
            $(this).parents('.actuality').find('.pubtext p').text(content);
            $(this).parents('.actuality').find('.pubtext').show();
            $(this).parents('.actuality').find('.update-pub').show();
            $(this).parents('.actuality').find('.update-pub').prev().show();
            $(this).parents('.pubupdate').hide();

        });
    });
</script>
{% endblock %}
