{% if classes!=null %}
    <table class="table table-striped table-bordered table-vcenter">
        <thead>
        <tr>
            <th>Classe</th>
            <th style="width:30%;" class="text-center"><i class="fa fa-flash"></i></th>
        </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td>{{ class.name }}</td>
                <td class="text-center">
                    <a href="{{ path('view_class',{'classid':class.id}) }}" data-toggle="modal" title="Voir classe" class="btn btn-effect-ripple btn-xs btn-info "><i class="fa fa-search"></i></a>
                    <a href="#modal-edit-class{{ class.id }}" data-toggle="modal" title="Modifiez classe" class="btn btn-effect-ripple btn-xs btn-success edit-class "><i class="fa fa-pencil"></i></a>
                    <a href="{{ path('delete_class',{'classid':class.id}) }}"  title="Supprimer classe" class="btn btn-effect-ripple btn-xs btn-danger confirmModalLink" data-confirm="Etes-vous certain de vouloir supprimer ce classe ?"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Edit class -->
        <div id="" class="modal fade modal-edit-class " tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-pencil-square-o"></i> <strong>Editez classe</strong></h3>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>
    <!-- END Edit class -->

{% else %}
    <div class="text-center information-block"> Vous n'avez pas défini des classes pour ce niveau. </div>
{% endif %}

{% block javascripts %}
    <script src="{{ asset('js/delete-confirm.js')}}"></script>
<script>
    $('.edit-class').click(function(){
        var href=$(this).attr("href");
        var idclass = /([0-9]+)/.exec(href);
        var idc=idclass[0];
        $('.modal-edit-class').attr("id","modal-edit-class"+idc);
        $.ajax({
            url: Routing.generate('edit_class', { classid : idc }),
            type: "GET",
            dataType: 'json',
            success: function(response) {
                tempedit = response;
                $('.modal-edit-class .modal-body').html(tempedit);
                console.log("yes");
            },
            fail: function () {
                console.log('no');
            }

        });
    });
</script>
{% endblock %}


