<div class="widget">
    <div class="widget-image backcolor widget-image-sm">
        {% if(school.schoollogo==null) %}
        <img src="{{ asset('img/placeholders/avatars/school-default.png') }}" alt="image">
        {% else %}
        <img src="{{ asset('img/placeholders/avatars/' ~ school.schoollogo) }}" alt="image">
        {% endif %}
        <div class="widget-image-content text-left">
            <a href="#modal-school" data-toggle="modal" title="Editer infos école"><i class="fa fa-pencil-square-o coli"></i></a>
        </div>
    </div>
    <div class="text-center up_avt">
        <h2 class="widget-heading "><strong>{{ school.schoolname }}</strong></h2>
    </div>
    <div class="widget-content border-bottom">
        <h4 class="sub-def">Directeur</h4><span>{{ school.schooldirector }}</span>
        <h4 class="sub-def">Téléphone</h4><span>{{ school.schoolphone }}</span>
        {% if(school.schoolemail!=null) %}
        <h4 class="sub-def">Email</h4><span>{{ school.schoolemail }}</span>
        {% endif %}
        <h4 class="sub-def">Adresse</h4><p>{{ school.schooladdress }}</p>
    </div>
</div>
