<div class="block-title">
    <ul class="nav nav-tabs level-tabs" data-toggle="tabs">
        {% for level in levels %}
            <li class="{{ level.id }}"><a class="title-btn" data-toggle="tab" href="#{{ level.id }}">{{ level.leveltitle }}</a></li>
        {% endfor %}
    </ul>
</div>
    <div class="tab-content row">
    {% for level in levels %}
    <div id="{{ level.id }}" class="tab-pane fade ">
        <div class="col-lg-offset-2 col-lg-8">
        <div id="nestable2" class="tab-content dd dd-inverse colorsub ">
            <a data-toggle="modal" href="#modal-add-sub{{ level.id }}" class="btn btn-success add-student"><i class="fa fa-plus"></i> Nouvelle matière</a>
                {{ render(controller('SLUsersBundle:Subject:show',{'levelid':level.id})) }}
    </div>
        </div>
    </div>
    {% endfor %}
    </div>
<!-- Add subject -->
{% for level in levels %}
    <div id="modal-add-sub{{ level.id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-plus"></i> <strong>Nouvelle matière</strong></h3>
                </div>
                <div class="modal-body">
        {{ render(controller('SLUsersBundle:Subject:add',{'levelid':level.id })) }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<!-- END Add subject -->


