<div class="table-responsive">

    <table id="example-datatable" class="table table-striped table-bordered table-vcenter">
        <thead>
        <tr>
            <th style="width: 5%;" class="text-center"> <span></span></th>
            <th style="width: 30%;">Parents</th>
            <th style="width: 30%;" class="hidden-xs hidden-md">Relations</th>
        </tr>
        </thead>
        <tbody>
        {% set rep = [] %}
        {% for rel in rels %}
            {% set rep= rep|merge([rel.godparent.id]) %}
        <tr class="godparent">
            <td class="text-center"><input type="checkbox" checked><span></span></td>
            <td><strong>{{ rel.godparent.firstname }} {{ rel.godparent.name }}</strong></td>
            <td class="relationform"><form><input class='form-control' value='' /></form></td>
            <td id="{{ rel.id }}" class="relationtext">{{ rel.relationtype }}</td>
        </tr>
        {% endfor %}
        {% for godparent in godparents %}
        {% if godparent.id not in rep %}
            <tr class="godparent">
                <td class="text-center"><input type="checkbox"><span></span></td>
                <td><strong>{{ godparent.firstname }} {{ godparent.name }}</strong></td>
                <td class="relationform"><form><input class='form-control' value='' /></form></td>
                <td id="{{ godparent.id }}" class="relationtext">N'est pas un tuteur pour cet élève</td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

{% block javascripts %}
    <script>
        $('.relationform').hide();
        //Add relation
        $('tbody input:checkbox').change(function() {
            if ($(this).is(':checked')) {
                $(this).parents('.godparent').find('.relationform').show();
                $(this).parents('.godparent').find('.relationtext').hide();
                var pressed = false;
                $(this).parents('.godparent').find('.relationform input').keydown(function (e) {
                    if (!pressed) {
                    if (e.keyCode == 13) {
                        pressed=true;
                        if ($(this).val() != '') {
                            var valrel = $(this).val();
                            var gpid = $(this).parents('.godparent').find('.relationtext').attr('id');
                            var stid = {{ student.id|raw }}
                                $(this).parents('.relationform').next().show();
                            $(this).parents('.relationform').next().text($(this).val());
                            $(this).parents('.relationform').next().addClass('gpid' + gpid);
                            $.ajax({
                                url: Routing.generate('add_relation', {stid: stid, gpid: gpid, relation: valrel}),
                                type: "GET",
                                dataType: 'json',
                                success: function (response) {
                                    var relation = JSON.parse(response.relation);
                                    var idrel = JSON.stringify(relation.id);
                                    $(".gpid" + gpid).attr('id', idrel);
                                    console.log('success add');
                                },
                                fail: function () {
                                    console.log('fail add');
                                }
                            });
                        } else {
                            $(this).parents('.godparent').find('input').prop('checked', false);
                            $(this).parents('.relationform').next().show();
                            $(this).parents('.relationform').next().text("N'est pas un tuteur pour cet élève");
                        }
                        $(this).parents('.relationform').hide();
                        return false;
                    }
                }
                });
            }else{
                //Delete relation
                $(this).parents('.godparent').find('.relationform input').val("");
                $(this).parents('.godparent').find('.relationform').hide();
                $(this).parents('.godparent').find('.relationtext').show();
                $(this).parents('.godparent').find('.relationtext').text("N'est pas un tuteur pour cet élève");
                var relid=$(this).parents('.godparent').find('.relationtext').attr('id');
                $(this).parents('.godparent').find('.relationtext').addClass("relid"+relid);
                if($(this).val() != '') {
                    $.ajax({
                        url: Routing.generate('delete_relation', {relid: relid}),
                        type: "GET",
                        dataType: 'json',
                        success: function (data) {
                            var gp= JSON.parse(data.godparent);
                            var idgp=JSON.stringify(gp.id);
                            $(".relid"+relid).attr('id',idgp);
                            console.log("success delete");
                        },
                        fail: function () {
                            console.log('fail delete');
                        }
                    });

                }
            }
        });

        //Update relation
        $('.relationtext').click(function () {
            if($(this).parent().find('input').is(':checked')) {
                $(this).parent().find('.relationform').show();
                var txt = $(this).text();
                var relid = $(this).attr('id');
                $(this).hide();
                $(this).parent().find('.relationform input').val(txt);
                var pressed = false;
                $(this).parent().find('.relationform input').keydown(function (e) {
                    if (!pressed) {
                    if (e.keyCode == 13) {
                        pressed = true;
                        e.preventDefault();
                        if ($(this).val() != '') {
                            var val = $(this).val();
                            $.ajax({
                                url: Routing.generate('edit_relation', {relid: relid, relation: val}),
                                type: "GET",
                                dataType: 'json',
                                success: function () {
                                    console.log('success update');
                                },
                                fail: function () {
                                    console.log('fail update');
                                }
                            });
                        }

                        $(this).parents('.relationform').next().show();
                        if ($(this).val() != '') {
                            $(this).parents('.relationform').next().text($(this).val());
                        }
                        $(this).parents('.relationform').hide();
                    }
                }
                });
            }
        });
    </script>
{% endblock %}