{% extends 'SLUsersBundle:Users/Admin:baseAdmin.html.twig' %}
{% block title %}
    Matières
{% endblock %}
    {% block content %}
        {{ parent() }}
        <div class="col-md-11 col-lg-12">
            <div class="block full ">
                {{ render(controller('SLUsersBundle:Level:showsub')) }}
            </div>
        </div>

    {% endblock %}
 {% block javascripts %}
     <script src="{{ asset('js/delete-confirm.js')}}"></script>
     <script>
         //Loading click simulation
         $(document).ready(function() {
            var id= $('.level-tabs li:first-child').attr('class');
             $('.level-tabs li:first-child').addClass('active');
             $('#'+id).addClass('active');
             $('#'+id).addClass('in');
             $('.level-tabs .active a').click();
         });
     </script>
 {% endblock %}
