<div class="assignment-tree">

        {% for level in levels %}
            <ul>
                <li class="level" >{{ level.leveltitle }}</li>
                <ul class="classes">
                    {% for class in classes %}
                        {% if level.id == class.level.id %}
                        <li class="classe">{{ class.name }}</li>
                        <ul class="subjects">
                            {% set newArray = [] %}
                            {% for subject in subjects %}
                            {% for taecherint in taecherints %}
                                {% if (level.id == subject.level.id and taecherint.subject.id==subject.id and taecherint.stclass.id==class.id)  %}
                                    <li id="{{ taecherint.id }}" class="{{ subject.id }}a{{ class.id }} subject visiblesub"><label class="checkbox-inline"><input type="checkbox" checked>{{ subject.name }}</label></li>
                                    {% set newArray = newArray|merge([subject.id]) %}
                                {% endif %}
                            {% endfor %}
                                {% if (level.id == subject.level.id and subject.id not in newArray)  %}
                                    <li id="{{ subject.id }}a{{ class.id }}" class="{{ subject.id }}a{{ class.id }} subject visiblesub"><label class="checkbox-inline"><input type="checkbox">{{ subject.name }}</label></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
            </ul>
        {% endfor %}

</div>
{% block javascripts %}
    <script>
        //Display subjects
        {% for inter in inters %}
        var idinter=$('.{{ inter.subject.id }}a{{ inter.stclass.id }}').attr('id');
        $('#'+idinter).removeClass("visiblesub");
        $('.{{ inter.subject.id }}a{{ inter.stclass.id }}').hide();
        {% endfor %}
        {% for taecherint in taecherints %}
        var idtech=$('.{{ taecherint.subject.id }}a{{ taecherint.stclass.id }}').attr('id');
        $('#'+idtech).addClass("visiblesub");
        $('.{{ taecherint.subject.id }}a{{ taecherint.stclass.id }}').show();
        {% endfor %}

        $('.subjects').each(function () {
            if($(this).text().length==2049){;
                $(this).parents('ul').hide();
            }
        });

        $('.classes').each(function () {
            console.log($(this).text().length);
            if($(this).text().length==213){;
                $(this).parents('ul').hide();
            }
        });

        var isVisible;
        $('.subjects').each(function () {
           console.log($(this).children('.visiblesub').length);
           if($(this).children('.visiblesub').length==0){
               $(this).parents('ul').hide();
           }
        });


        $('.assignment-tree input:checkbox').change(function() {
            //Add subject to a teacher
            if ($(this).is(':checked')) {
                var idteacher={{ teacher.id|raw }}
                var str=$(this).parents('.subject').attr('id');
                var arr=str.split(/a/g).slice();
                var idsubject=arr[0];
                var idclass=arr[1];
                $.ajax({
                    url: Routing.generate('add_inter', {idteacher: idteacher, idsubject: idsubject, idclass: idclass}),
                    type: "GET",
                    dataType: 'json',
                    success: function (response) {
                        var inter = JSON.parse(response.inter);
                        $('.'+idsubject+'a'+idclass).attr('id',JSON.stringify(inter.id));
                        console.log('success add');
                    },
                    fail: function () {
                        console.log('fail add');
                    }
                });
            }else{
                //Delete subject
                var idinter=$(this).parents('.subject').attr('id');
                $.ajax({
                    url: Routing.generate('delete_inter', {idinter: idinter}),
                    type: "GET",
                    dataType: 'json',
                    success: function (response) {
                        var inter = JSON.parse(response.inter);
                        $('#'+idinter).attr('id',JSON.stringify(inter.subject.id)+'a'+JSON.stringify(inter.stclass.id));
                        console.log('success delete');
                    },
                    fail: function () {
                        console.log('fail delete');
                    }
                });

            }
        });

    </script>
{% endblock %}