{% extends 'SLUsersBundle:Users/Admin:baseAdmin.html.twig' %}
{% block title %}
    Enseignants
{% endblock %}
    {% block content %}
        {{ parent() }}
        <div class="col-md-11 col-lg-12">
            <div class="block full ">
                <div class="block-title">
                    <h4>Liste des enseignants</h4>
                </div>
                <a href="#modal-teacher" class="btn btn-success add-student" data-toggle="modal" title="Ajoutez enseignant"><i class="fa fa-plus"></i> Ajoutez enseignant</a>
                <a href="#" class="btn btn-danger delete-students" title="Supprimez élèves"><i class="fa fa-trash"></i></a>

                {{ render(controller("SLUsersBundle:Teacher:list")) }}
            </div>
        </div>

        <!-- Add teacher -->
        <div id="modal-teacher" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-plus"></i> <strong>Nouveau enseignant</strong></h3>
                    </div>
                    <div class="modal-body">
                        {{ render(controller("SLUsersBundle:Teacher:register")) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- END Add teacher -->
    {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/pages/uiTablesteacher.js')}}">
    </script>
    <script>$(function () {
            UiTables.init();
        });</script>
    <script>
        //Delete multiple teachers
        var i=0;
        var teachers= [];
        $('table input:checkbox').change(function() {
            if ($(this).is(':checked')) {
                teachers[i] = $(this).attr('id');
                i++;
                console.log($(this).attr('id'));
            }else {
                for(var t=0;t<teachers.length;t++) {
                    teachers[t]=0;
                }
            }
        });
        $('.delete-students').click(function () {
            for(var j=0;j<teachers.length;j++) {
                $.ajax({
                    url: Routing.generate('delete_teacher', {teacherid: teachers[j]}),
                    type: "GET",
                    success: function () {
                        console.log("success");
                    }
                });
                $('.'+teachers[j]).hide();
            }
        });

    </script>
    <script src="{{ asset('js/delete-confirm.js')}}"></script>
{% endblock %}
