{% extends 'SLUsersBundle:Users/Admin:baseAdmin.html.twig' %}
{% block title %}
    Classes
{% endblock %}
    {% block content %}
        {{ parent() }}
        <div class="col-md-11 col-lg-12">
            <div class="block full ">
                <div class="block-title">
                    <a href="{{ path('classes') }}"><i class="fa fa-arrow-left sie"></i></a>
                    <h2>{{ class.level.leveltitle }}</h2><i class="fa fa-angle-right "></i><h2>{{ class.name }}</h2>
                </div>
                    <a href="#modal-student" class="btn btn-success add-student" data-toggle="modal" title="Ajoutez élève"><i class="fa fa-plus"></i> Ajoutez élève</a>
                    <a href="#" class="btn btn-danger delete-students" title="Supprimez élèves"><i class="fa fa-trash"></i></a>
                    <a href="#pass-students" class="btn btn-primary pass-students" data-toggle="modal" title="Changer de classe"><i class="fa fa-arrows"></i></a>

                            {{ render(controller('SLUsersBundle:Student:list',{'classid':class.id,'sender':"admin"})) }}
            </div>
        </div>
        <!-- Add student -->
        <div id="modal-student" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-plus"></i> <strong>Nouveau élève</strong></h3>
                    </div>
                    <div class="modal-body">
                        {{ render(controller('SLUsersBundle:Student:add',{'classid':class.id})) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- END Add student -->
        <!-- Pass student -->
        <div id="pass-students" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-arrows"></i> <strong>Changer de classe</strong></h3>
                    </div>

                        {{ render(controller('SLUsersBundle:Stclass:showall',{'classid':class.id})) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- END Pass student -->
    {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/pages/uiTables.js')}}">
    </script>
    <script>$(function () {
            UiTables.init();
        });</script>
    <script>
        //Delete multiple students
        var i=0;
        var students= [];
        $('table input:checkbox').change(function() {
            if ($(this).is(':checked')) {
                students[i] = $(this).attr('id');
                i++;
                console.log($(this).attr('id'));
            }else {
                for(var t=0;t<students.length;t++) {
                    students[t]=0;
                }
            }
        });
        $('.delete-students').click(function () {
            for(var j=0;j<students.length;j++) {
                $.ajax({
                    url: Routing.generate('delete_student', {studentid: students[j]}),
                    type: "GET",
                    success: function () {
                        console.log("success");
                    }
                });
                $('.'+students[j]).hide();
            }
        });

    </script>
    <script src="{{ asset('js/delete-confirm.js')}}"></script>
{% endblock %}



