{% extends ':SL:base.html.twig' %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
    <div id="page-wrapper" class="page-loading">
        <!-- Preloader -->
        <div class="preloader">
            <div class="inner">
                <!-- Animation spinner for all modern browsers -->
                <div class="preloader-spinner themed-background hidden-lt-ie10"></div>
                <!-- Text for IE9 -->
                <h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
            </div>
        </div>
        <!-- END Preloader -->
        <!-- Page Container -->
        <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
            <!-- Main Sidebar -->
            <div id="sidebar">
                <!-- Sidebar Brand -->
                <div id="sidebar-brand" class="themed-background">
                    <a href="{{ path('homepage') }}" class="sidebar-title">
                        <span class=" header-logomini sidebar-nav-mini-show  "><img src="{{ asset('img/header-minilogo.png') }}"></span>
                        <span class=" header-logo sidebar-nav-mini-hide"><img src="{{ asset('img/header-logo.png') }}"></span>
                    </a>
                </div>
                <!-- END Sidebar Brand -->
                <!-- Menu -->
                {% block menu %}
                {% endblock %}
                <!-- END Menu -->
            </div>
            <!-- END Main Sidebar -->
            <!-- Main Container -->
            <div id="main-container">
                <!-- Header -->
                <header class="navbar navbar-inverse navbar-fixed-top">
                    <!-- Left Header Navigation -->
                    <ul class="nav navbar-nav-custom">
                        <!-- Main Sidebar Toggle Button -->
                        <li>
                            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();" class="header-links">
                                <i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini"></i>
                                <i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full"></i>
                            </a>
                        </li>
                        <!-- END Main Sidebar Toggle Button -->

                        <!-- Header Link -->
                        {% if app.user.roles[0] == 'ROLE_STUDENT' %}
                            <li class="hidden-xs animation-fadeInQuick">
                                <a href="{{ path('homepage') }}" class="header-links"><strong><h4>{{ app.user ? app.user.firstname }} {{ app.user ? app.user.name }}</h4></strong></a>
                            </li>
                        {% else %}
                        <li class="hidden-xs animation-fadeInQuick">
                            <a href="{{ path('homepage') }}" class="header-links"><strong><h4>{{ app.user ? app.user.firstname }} {{ app.user ? app.user.Name }} </h4></strong></a>
                        </li>
                        {% endif %}
                        <!-- END Header Link -->
                    </ul>
                    <!-- END Left Header Navigation -->
                    <!-- Right Header Navigation -->
                    <ul class="nav navbar-nav-custom pull-right">
                        <!-- Alternative Sidebar Toggle Button -->

                        {% if is_granted('ROLE_PREVIOUS_ADMIN') and app.user.roles[0] == 'ROLE_STUDENT' %}
                        <li>
                            <a href="javascript:void(0)" data-toggle="dropdown" class="header-links">
                                <i class="fa fa-users"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {{ render(controller("SLUsersBundle:Godparent:students",{'sender':'student'})) }}
                                <li class="hidden-xs animation-fadeInQuick">
                                    <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}"><i class="fa fa-sign-out pull-right"></i> Sortie</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}

                        {% if is_granted('ROLE_GODPARENT') and app.user.roles[0] == 'ROLE_GODPARENT' %}
                            <li>
                                <a href="javascript:void(0)" data-toggle="dropdown" class="header-links">
                                    <i class="fa fa-users"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right gpstudents">
                                    {{ render(controller("SLUsersBundle:Godparent:students",{'sender':'gp'})) }}
                                </ul>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="javascript:void(0)" data-toggle="dropdown" class="header-links">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right gpstudents">
                                    <li class="hidden-xs animation-fadeInQuick">
                                        <a href="{{ path('all_users',{'users':'teachers'}) }}">Enseignants</a>
                                    </li>
                                    <li class="hidden-xs animation-fadeInQuick">
                                        <a href="{{ path('all_users',{'users':'parents'}) }}">Parents</a>
                                    </li>
                                    <li class="hidden-xs animation-fadeInQuick">
                                        <a href="{{ path('all_users',{'users':'students'}) }}">Elèves</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_PREVIOUS_ADMIN') and (app.user.roles[0] == 'ROLE_GODPARENT'or app.user.roles[0] == 'ROLE_TEACHER' )%}
                            <li>
                                <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}" class="dropdown-toggle header-links">
                                    <i class="fa fa-sign-out"></i>
                                </a>
                            </li>
                        {% endif %}

                        <!-- END Alternative Sidebar Toggle Button -->

                        <!-- User Dropdown -->
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle header-links" data-toggle="dropdown" >
                                <i class="fa fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="#modal-add-contact" data-toggle="modal">
                                        <i class="fa fa-pencil-square-o fa-fw pull-right"></i>
                                        Profil
                                    </a>
                                </li>
                                {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                                <li>
                                    <a href="#modal-school" data-toggle="modal">
                                        <i class="fa fa-building-o fa-fw pull-right"></i>
                                        Profil école
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('security_logout') }}">
                                        <i class="fa fa-power-off fa-fw pull-right"></i>
                                        Déconnexion
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END User Dropdown -->
                    </ul>
                    <!-- END Right Header Navigation -->
                </header>
                <!-- END Header -->
                <!-- Page content -->
                <div id="page-content" class="inner-sidebar-right">
                    <!-- Chat Godparent-->
                    {% block chat %}
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') or is_granted('ROLE_GODPARENT') %}
                            <!-- Inner Sidebar -->
                            <div id="page-content-sidebar">
                                <!-- Collapsible People List -->
                                <a href="javascript:void(0)" class="btn btn-block btn-effect-ripple btn-primary visible-xs" data-toggle="collapse" data-target="#people-nav">Contact</a>
                                <div id="people-nav" class="collapse navbar-collapse remove-padding">
                                    {{ include("SLUsersBundle:Users/Godparent:chatlist.html.twig") }}
                                </div>
                                <!-- END Collapsible People List -->
                            </div>
                        <!-- END Inner Sidebar -->

                        <!-- Chat Godparent Widget -->
                            <div class="chat">

                            </div>
                        <!-- END Chat Godparent Widget -->

                        <!-- Evaluations list Student-->
                        {% elseif is_granted('ROLE_STUDENT')%}
                            <!-- Inner Sidebar -->
                            <div id="page-content-sidebar" class="student-sidebar">
                                <!-- Collapsible People List -->
                                <a href="javascript:void(0)" class="btn btn-effect-ripple  visible-xs" data-toggle="collapse" data-target="#people-nav">Evaluations</a>
                                <div id="people-nav" class="collapse navbar-collapse remove-padding">
                                    {{ render(controller("SLUsersBundle:Task:showEval")) }}
                                </div>
                                <!-- END Collapsible People List -->
                            </div>
                            <!-- END Inner Sidebar -->
                        {% endif %}
                        <!-- END Evaluations list Student-->
                    {% endblock %}
                    <!-- END Chat Godparent -->
                    <!-- Block content -->
                    <div class="row">
                    {% block content %}
                    {% endblock %}
                    </div>
                    <!-- END Block content -->
                </div>
            </div>
        </div>
        <!-- END Page Container -->
    </div>
<!-- Edit Profil -->
    <div id="modal-add-contact" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-pencil-square-o"></i> <strong>Profil</strong></h3>
                </div>
                <div class="modal-body">
                    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                        {{ render(controller("SLUsersBundle:Admin:edit")) }}
                        {% elseif  app.user.roles[0] == 'ROLE_TEACHER'  %}
                            {{ render(controller("SLUsersBundle:Teacher:edit",{'teacherid':app.user.id,'page':'teacher'})) }}
                    {% elseif  app.user.roles[0] == 'ROLE_STUDENT'  %}
                        {{ render(controller("SLUsersBundle:Student:edit",{'studentid':app.user.id,'page':'student'})) }}
                    {% elseif  app.user.roles[0] == 'ROLE_GODPARENT'  %}
                        {{ render(controller("SLUsersBundle:Godparent:edit",{'parentid':app.user.id,'page':'parent'})) }}
                            {% endif %}
                </div>
            </div>
        </div>
    </div>
<!-- END Edit Profil -->
    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
    <!-- Edit school -->
    <div id="modal-school" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        {{ render(controller('SLUsersBundle:School:edit')) }}
    </div>
    <!-- END Edit school -->
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        {% if is_granted('ROLE_PREVIOUS_ADMIN') or is_granted('ROLE_GODPARENT') %}
        console.log('fff');
        $('.student-sidebar').remove();
        {% endif %}
    </script>
{% endblock %}
