{% extends ':SL:base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <!-- Login Container -->
    <div id="login-container" class="login-cnt">
        <!-- Login Header -->
        <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
            <img src="{{ asset('img/logo.png') }}">
        </h1>
        <!-- END Login Header -->
        <!-- Login Block -->
        <div class="block animation-fadeInQuickInv">
            <!-- Login Title -->
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="{{ path('security_login') }}" class="btn btn-effect-ripple" data-toggle="tooltip" data-placement="left" title="Retour au connexion"><i class="fa fa-user"></i></a>
                </div>
                <h2>Mot de passe oublié</h2>
            </div>
            <!-- END Login Title -->
            <!-- Login Form -->

            <form class="form-horizontal form-bordered" method="post" >
            <div class="form-group">
                <div class="col-xs-12">
                    <input name="tel" type="text" class="form-control" placeholder="Entrer votre numéro de téléphone">
                </div>
                <div class="col-md-6 col-md-push-6  text-right">
                    <button type="submit" class="btn btn-effect-ripple btn-sm btn-primary"> Envoyer</button>
                </div>
            </div>

            </form>
            <!-- END Login Form -->
        </div>
        <!-- END Login Block -->
    </div>
    <!-- END Login Container -->
{% endblock %}