{% extends ':SL:base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <!-- Login Container -->
    <div id="login-container" class="login-cnt">
    <!-- Login Header -->
    <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
        <img src="{{ asset('img/logo.png') }}">
    </h1>
    <!-- END Login Header -->
    <!-- Login Block -->
    <div class="block animation-fadeInQuickInv">
    <!-- Login Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="{{ path('forgot_password') }}" class="btn btn-effect-ripple " data-toggle="tooltip" data-placement="left" title="Mot de passe oublié ?"><i class="fa fa-exclamation-circle"></i></a>
            <a href="{{ path('admin_register') }}" class="btn btn-effect-ripple " data-toggle="tooltip" data-placement="left" title="Créer un nouveau compte"><i class="fa fa-plus"></i></a>
        </div>
        <h2>Identifiez-vous</h2>
    </div>
    <!-- END Login Title -->
    <!-- Login Form -->
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
        {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'"form-login'}}) }}
        <div class="form-group">
            <div class="col-xs-12">
                {{ form_row(form.login, {'attr': {'class': 'form-control','placeholder':'Votre login'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                {{ form_row(form._password, {'attr': {'class': 'form-control','placeholder':'Votre mot de passe'}}) }}
            </div>
        </div>
        <div class="form-group form-actions">
            <div class="col-xs-8">
                <label class="csscheckbox csscheckbox-primary">
                    <input type="checkbox" id="login-remember-me" name="_remember_me">
                    <span></span>
                </label>
                Souvenez de moi ?
            </div>
            <div class="col-xs-4 text-right">
                <button type="submit" class="btn btn-effect-ripple btn-sm btn-primary"> Connexion</button>
            </div>
        </div>
        {{ form_end(form) }}
    <!-- END Login Form -->
    </div>
    <!-- END Login Block -->
    </div>
    <!-- END Login Container -->
{% endblock %}