    <div class="sidebar-content">
        <ul class="sidebar-nav">
            {% for item in list %}
            <li>
                <a class="" href="{{ path(item.path) }}"><i class="{{ item.icon }}"></i><span class="sidebar-nav-mini-hide">{{ item.title }}</span></a>
            </li>
            {% endfor %}
        </ul>
    </div>