{% extends ':SL:base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <!-- Register Container -->
    <div id="login-container">
        <!-- Register Header -->
        <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
            <img src="{{ asset('img/logo.png') }}">
        </h1>
        <!-- END Register Header -->

        <!-- Validation Wizard Block -->
        <div class="block">
            <!-- Validation Wizard Title -->
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="{{ path('security_login') }}" class="btn btn-effect-ripple" data-toggle="tooltip" data-placement="left" title="Retour au connexion"><i class="fa fa-user"></i></a>
                </div>
                <h2>Inscription</h2>
            </div>
            <!-- END Validation Wizard Title -->

            <!-- Validation Wizard Content -->
            {{ form_start(form, {'attr': {'class': 'form-horizontal form-bordered','id':'validation-wizard'}}) }}
            <!-- First Step -->
            <div id="validation-first" class="step">
                <!-- Step Info -->
                <div class="form-group">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="active disabled"><a href="javascript:void(0)" class="text-muted"> <i class="fa fa-user"></i> <strong>Admin</strong></a></li>
                            <li class="disabled"><a href="javascript:void(0)"><i class="fa fa-building"></i> <strong>Ecole</strong></a></li>
                        </ul>
                    </div>
                </div>
                <!-- END Step Info -->
                <div class="form-group">
                    <div class="col-xs-12">
                        {{ form_row(form.firstname, {'id':'admin_registration_form_firstname','attr': {'class': 'form-control','placeholder':'Prénom'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        {{ form_row(form.name, {'attr': {'class': 'form-control','placeholder':'Nom'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        {{ form_row(form.cinadmin, {'attr': {'class': 'form-control','placeholder':'CIN'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        {{ form_row(form.sex, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        {{ form_row(form.login, {'attr': {'class': 'form-control','placeholder':'Login'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        {{ form_row(form.plainPassword.first, {'label': false,'attr': {'class': 'form-control','placeholder':'Mot de passe'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        {{ form_row(form.plainPassword.second, {'label': false,'attr': {'class': 'form-control','placeholder':'Vérifiez votre mot de passe'}}) }}
                    </div>
                </div>
            </div>
            <!-- END First Step -->

            <!-- Second Step -->
            <div id="validation-second" class="step">
                <!-- Step Info -->
                <div class="form-group">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="disabled"><a href="javascript:void(0)" class="text-muted"><del><i class="fa fa-user"></i> <strong>Admin</strong></del></a></li>
                            <li class="active disabled"><a href="javascript:void(0)"><i class="fa fa-building"></i> <strong>Ecole</strong></a></li>
                        </ul>
                    </div>
                </div>
                <!-- END Step Info -->
                <div class="form-group">
                    <div class="col-xs-12">
                        {{ form_row(form.school) }}
                    </div>
                </div>

            </div>
            <!-- END Second Step -->

            <!-- Form Buttons -->
            <div class="form-group form-actions">
                <div class="col-md-8 col-md-offset-4">
                    <input type="reset" class="btn btn-sm btn-danger" id="back3" value="Retour">
                    <input type="submit" class="btn btn-sm btn-success" id="next3" value="Suivant">
                </div>
            </div>
            <!-- END Form Buttons -->
            {{ form_end(form) }}
            <!-- END Validation Wizard Content -->
        </div>
        <!-- END Validation Wizard Block -->
    </div>
    <!-- END Login Container -->
    {% block javascripts %}
        <script src="{{ asset('js/pages/formsWizard.js')}}"></script>
        <script>$(function(){ FormsWizard.init(); });</script>
        <script>
            $('.btn-warning').val("retour");
            $('.btn-success').val("suivant");
        </script>
    {% endblock %}
{% endblock %}