{% extends 'SLUsersBundle:Users:baseUsers.html.twig' %}
 {% block menu %}
     {{ parent() }}
     <div id="sidebar-scroll">
         {{ render(controller("SLUsersBundle:Godparent:menu")) }}
     </div>
 {% endblock %}




