{{ form_start(form, {'attr': {'class': 'form-horizontal form-bordered','id':'form-validationparent'}}) }}
<div class="form-group">
    <label class="col-xs-3 control-label ">Avatar</label>
    <div class="col-xs-9 link-student ">
        <i class="fa fa-fw fa-picture-o"></i> {{ form_row(form.picture) }}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-3 control-label" for="add-contact-name">Login</label>
    <div class="col-xs-9">
        {{ form_row(form.login, {'attr': {'class': 'form-control','placeholder':'Login'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-name">Mot de passe</label>
    <div class="col-xs-9">
        {{ form_row(form.plainPassword.first, {'label': false,'attr': {'class': 'form-control','placeholder':'Mot de passe'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-name">Confirmez mot de passe</label>
    <div class="col-xs-9">
        {{ form_row(form.plainPassword.second, {'label': false,'attr': {'class': 'form-control','placeholder':'Confirmez mot de passe'}}) }}
    </div>
</div>
<div class="form-group">
    <label class="col-xs-3 control-label" for="add-contact-name">Prénom</label>
    <div class="col-xs-9">
        {{ form_row(form.firstname, {'attr': {'class': 'form-control','placeholder':'Prénom'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-name">Nom</label>
    <div class="col-xs-9">
        {{ form_row(form.name, {'attr': {'class': 'form-control','placeholder':'Nom'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-name">CIN</label>
    <div class="col-xs-9">
        {{ form_row(form.cingodparent, {'required':false,'attr': {'class': 'form-control','placeholder':'CIN'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-name">Sexe</label>
    <div class="col-xs-9">
        {{ form_row(form.sex, {'attr': {'class': 'form-control border-sex-form'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-name">Type de relation</label>
    <div class="col-xs-9">
        <input type="text" name="relation" class="form-control" placeholder="Sa relation avec l'élève" required>
    </div>
    <label class="col-xs-3 control-label" for="add-contact-name">Profession</label>
    <div class="col-xs-9">
        {{ form_row(form.occupation, {'required':false,'attr': {'class': 'form-control'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-phone">Téléphone</label>
    <div class="col-xs-9">
        {{ form_row(form.phone, {'required':false,'attr': {'class': 'form-control'}}) }}
    </div>
    <label class="col-xs-3 control-label" for="add-contact-address">Adresse</label>
    <div class="col-xs-9">
        {{ form_row(form.address, {'required':false,'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group form-actions">
    <div class="col-xs-12 text-right">

        <button type="submit" class="btn btn-effect-ripple btn-success">Enregistrer</button>
    </div>
</div>
{{ form_end(form) }}
{% block javascripts %}
    <script src="{{ asset('js/pages/formsValidationparent.js')}}"></script>
    <script>$(function(){  FormsValidationparent.init(); });</script>
{% endblock %}