{% for relation in relations %}
    <li class="hidden-xs animation-fadeInQuick">
        <a href="{{ path('homepage', {'_switch_user': relation.student.login}) }}">{{ relation.student.firstname }} {{ relation.student.name}}</a>
    </li>
{% endfor %}
