{% extends 'SLUsersBundle:Users/Godparent:baseGodparent.html.twig' %}
{% block title %}
    Enseignants
{% endblock %}
    {% block content %}
        {{ parent() }}
        <div class="col-md-11 col-lg-12">
            <div class="block full ">
                <div class="block-title">
                    <h4>Liste des enseignants</h4>
                </div>
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8">
                        <div class="table-responsive">
                            <table id="example-datatable" class="table table-striped table-bordered table-vcenter">
                                <thead>
                                <tr>
                                    <th style="width: 40%;">Enseignant</th>
                                    <th style="width: 40%;" class="hidden-xs hidden-md">N° Téléphone</th>
                                    <th class="text-center" style="width: 20%;">CV</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set reparray = [] %}
                                {% for inter in inters %}
                                    {% for elt in inter %}
                                        {% if elt.teacher.id not in reparray %}
                                    <tr>
                                        <td>{{ elt.teacher.firstname }} {{ elt.teacher.name }}</td>
                                        {% if elt.teacher.phone!= NULL %}
                                        <td>{{ elt.teacher.phone }}</td>
                                        {% else %}
                                            <td>N°de téléphone non fourni</td>
                                        {% endif %}
                                        {% if elt.teacher.cv != NULL %}
                                        <td class="text-center"><a href="{{ elt.teacher.cv }}"><i class="fa fa-link"></i></a></td>
                                        {% else %}
                                            <td>CV non fourni</td>
                                        {% endif %}
                                    </tr>
                                            {% set reparray = reparray|merge([elt.teacher.id]) %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}