{% extends 'SLUsersBundle:Users/Student:baseStudent.html.twig' %}
{% block title %}
    Avancement des cours
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="col-xs-12">
        <div class="block full ">
            <div class="block-title">
                <div class="block-options pull-right filter-courses">
                    <div class="form-group ">
                        <select  class="form-control"  id="subjects-filter">
                            <option value="all">Tous</option>
                            {% for subject in subjects %}
                            <option value="{{ subject.id }}">{{ subject.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <h4>Avancement des cours</h4>
            </div>
            <div class="tab-content">
                {% if courses != null %}
                <!-- Timeline Content -->
                    <div class="timeline block-content-full">
                        {% for course in courses %}
                        {% if course.done==1 and course.class.id==class.id %}
                    <div class="course">
                        <div class="course-pic">
                            <div>
                                {%   if( course.teacher.picture==null) %}
                                    <img  src="{{ asset("img/placeholders/avatars/avatar2.jpg")}}" alt="Avatar" >
                                {% else %}
                                    <img  src="{{ asset('img/placeholders/avatars/users/' ~ course.teacher.picture) }}" alt="Avatar">
                                {% endif %}
                                <span>{{ course.teacher.firstname}} {{ course.teacher.name}}</span>
                            </div>
                        </div>
                        <div class="course-details">
                            <div>
                                <h4><strong>{{ course.subject.name }}</strong><small><span class="pull-right course-date">{{ course.creation|localizeddate('none', 'none', app.request.locale, "Europe/Paris", "ccc d MMM ") }}</span></small></h4>
                                <div class="course-content">
                                <p>{{ course.title }}</p>
                                <p class="course-desc">{{ course.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                        {% endif %}
                        {% endfor %}

                    </div>

                    <!-- END Timeline Content -->
                {% else %}
                    <div class="text-center speech-info"><img src="{{ asset('img/Schoollinkpic/owl.png') }}" alt="image"><div class="speech-bubble"> Vos enseignants n'ont rien partagé encore ! </div></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('.course span').each(function () {
            var newdate=$(this).text().replace(/\./g, ' ');
            $(this).text(newdate);
        });

        //Subjects'filter
        $('#subjects-filter').change(function () {
            subjectsfilter = $('#subjects-filter option:selected').val();
            displaycourse(subjectsfilter);
            $('.course span').each(function () {
                var newdate=$(this).text().replace(/\./g, ' ');
                $(this).text(newdate);
            });
            if($('.timeline').text().length==0){;
                $('.timeline').html('<div class="text-center speech-info"><img src="{{ asset('img/Schoollinkpic/owl.png') }}" alt="image"><div class="speech-bubble"> Votre enseignant n\'a rien partagé encore ! </div></div>');
            }
        });

        function displaycourse(subjectsfilter) {
            if(subjectsfilter == "all") {
                var htmlall = '';
                {% for course in courses %}
                {% if course.done==1 and course.class.id==class.id %}
                    htmlall += '<div class="course">'
                        + '<div class="course-pic">'
                        + '<div>'
                            {% if( course.teacher.picture==null) %}
                        + '<img  src="{{ asset("img/placeholders/avatars/avatar2.jpg") }}" alt="Avatar" >'
                            {% else %}
                        + '<img  src="{{ asset('img/placeholders/avatars/users/' ~ course.teacher.picture) }}" alt="Avatar">'
                            {% endif %}
                        + '<span>{{ course.teacher.firstname }} {{ course.teacher.name }}</span>'
                        + '</div>'
                        + '</div>'
                        + '<div class="course-details">'
                        + '<div>'
                        + '<h4><strong>{{ course.subject.name }}</strong><small><span class="pull-right course-date">{{ course.creation|localizeddate('none', 'none', app.request.locale, "Europe/Paris", "ccc d MMM ") }}</span></small></h4>'
                        + '<div class="course-content">'
                        + '<p>{{ course.title }}</p>'
                        + '<p class="course-desc">{{ course.description }}</p>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</div>';

                {% endif %}
                {% endfor %}
                $('.timeline').html(htmlall);
            }else{
                var html = '';
                {% for course in courses %}
                {% if course.done==1 and course.class.id==class.id %}
                var subj = "{{ course.subject.id | raw }}";
                if (subjectsfilter == subj) {
                    html += '<div class="course">'
                        + '<div class="course-pic">'
                        + '<div>'
                            {% if( course.teacher.picture==null) %}
                        + '<img  src="{{ asset("img/placeholders/avatars/avatar2.jpg") }}" alt="Avatar" >'
                            {% else %}
                        + '<img  src="{{ asset('img/placeholders/avatars/users/' ~ course.teacher.picture) }}" alt="Avatar">'
                            {% endif %}
                        + '<span>{{ course.teacher.firstname }} {{ course.teacher.name }}</span>'
                        + '</div>'
                        + '</div>'
                        + '<div class="course-details">'
                        + '<div>'
                        + '<h4><strong>{{ course.subject.name }}</strong><small><span class="pull-right course-date">{{ course.creation|localizeddate('none', 'none', app.request.locale, "Europe/Paris", "ccc d MMM ") }}</span></small></h4>'
                        + '<div class="course-content">'
                        + '<p>{{ course.title }}</p>'
                        + '<p class="course-desc">{{ course.description }}</p>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</div>';
                }
                {% endif %}
                {% endfor %}
                $('.timeline').html(html);
            }
        }



    </script>
{% endblock %}
