<ul class="evaluations ">
    {% if evaluations != null %}
    <li class="text-center "><h3>Evaluations</h3></li>
    {% for eval in evaluations %}
        {% if eval.class.id == app.user.stclass.id %}
            {% if "now"|date >= eval.date|date %}
            <li class="evaluation">
                <div class="row">
                <div class="col-md-1">*</div><div class="col-md-10"><p>{{ eval.title }}</p></div>
                </div>
                <div class="row">
                    <p class="evaldate">{{ eval.date|localizeddate('none', 'none', app.request.locale, "Europe/Paris", "ccc d MMM ") }}</p>
                </div>
            </li>
                {% else %}
                    <li class="evaluation barred-text">
                        <div class="row">
                            <div class="col-md-1">*</div><div class="col-md-10 barred-text"><p>{{ eval.title }}</p></div>
                        </div>
                        <div class="row">
                            <p class="evaldate">{{ eval.date|localizeddate('none', 'none', app.request.locale, "Europe/Paris", "ccc d MMM ") }}</p>
                        </div>
                    </li>
                {% endif %}
        {% endif %}

    {% endfor %}
    {% else %}
<p>Vous n'avez pas des evaluations !</p>
    {% endif %}
</ul>

{% block javascripts %}
<script>

    $('.evaldate').each(function () {
        var newdate=$(this).text().replace(/\./g, ' ');
        $(this).text(newdate);
    });
</script>
{% endblock %}