<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">

    <title>{% block title %}School Link{% endblock %}</title>

    <meta name="description" content="SchoolLink is a School management application">
    <meta name="author" content="Amal Ayeb">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Icons -->
    <link rel="shortcut icon" href="{{ asset('img/favicon.png')}}">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="{{ asset('css/plugins.css')}}">

    <!-- The main stylesheet -->
    <link rel="stylesheet" href="{{ asset('css/main.css')}}">


    <!-- The themes stylesheet  -->
    <link rel="stylesheet" href="{{ asset('css/themes.css')}}">

    <!-- jQuery  -->
    <script src="{{ asset('js/vendor/jquery-2.2.4.min.js')}}"></script>

    <!-- Routing js -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% block style %}

    {% endblock %}

    <!-- END Stylesheets -->

    <!-- Modernizr (browser feature detection library) -->
    <script src="{{ asset('js/vendor/modernizr-3.3.1.min.js')}}"></script>

</head>

<body>
{% block body %}
{% endblock %}
<!-- Bootstrap, jQuery plugins and Custom JS code -->

<script src="{{ asset('js/vendor/bootstrap.min.js')}}"></script>
<script src="{{ asset('js/plugins.js')}}"></script>
<script src="{{ asset('js/app.js')}}"></script>
<script src="{{ asset('js/SLscript.js')}}"></script>
{% block javascripts %}
{% endblock %}
</body>

</html>

